.masseuse{
    margin-top: 120px;
    .sub_title{
        margin-bottom: 70px;
        text-align: center;
    }
    .container{
        margin-bottom: 120px;
        .row{
            .col-6,
            .col-12{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .third_title{
                    font-weight: 700;
                }
                .text{
                    line-height: 3;
                    font-weight: 700;
                    opacity: 0.7;
                    white-space: nowrap;
                }
                .btnLittle{
                    text-align: center;
                }
                .frame{
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    width: 408px;
                    height: 408px;
                    padding: 4px;
                    overflow: hidden;
                    border: 4px solid $blue;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .masseusePic{
                        width: 400px;
                        height: 400px;
                        overflow: hidden;
                        border: 4px solid $blue;
                        border-radius: 50%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}


/*======    平板版 RWD | 768px ~ ???px ======*/
@media screen and (min-width: 768px){
    .masseuse{
        .row{
            display: flex;
            justify-content: center;
            .col-6{
                padding: 0px 7%;
                .frame{
                    position: relative;
                    left: 10%;
                }
            }
        }
    }
}

// ==========================================手機版

@media screen and (min-width: 320px) and (max-width: 767.98px){
    .masseuse{
        .col-12{
            align-items: center;
            .third_title{
                margin-bottom: 30px;
            }
            .text{
                margin-bottom: 30px;
                text-align: center;
            }
            .frame{
                margin-bottom: 70px;
            }
        }
    }
}