.about,
.store_info{
    margin-top: 120px;
    .frame{
        width: 60%;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        border: 3px solid $blue;
        border-radius: 12px;
        box-shadow: 6px 10px 0px 0px$blue;
        .framei{
            border-radius: 8px;
            border: 2px solid $blue;
            .text{
                padding: 20px;
                text-align: center;
                line-height: 3;
                opacity: 0.7;
                font-weight: 700;
            }
        }
    }
}

.store_info{
    .sub_title{
        margin-bottom: 70px;
        text-align: center;
    }
    iframe{
        width: 100%;
        height: 50vh;
    }
}

/*======    平板版 RWD | 768px ~ ???px ======*/
@media screen and (min-width: 768px){
    
    .container{
        .row{
            display: flex;
            .col-6{
                .btnLarge{
                    margin: 30px auto 0px;
                    text-align: center;
                }
                .content{
                    width: 75%;
                    margin: auto;
                    display: flex;
                    box-sizing: border-box;
                    .imgFrame{
                        border: 4px solid $blue;
                        border-radius: 12px;
                        overflow: hidden;
                        box-sizing: border-box;
                        width: 90%;
                        img{
                            width: 100%;
                            display: block;
                            background-size: 100% 100%;
                        }
                    }
                    .imgInfo{
                        width: 10%;
                        img{
                            width: 100%;
                        }
                    }
                } 
            }
        }
    }
}

// ==========================================手機版

@media screen and (min-width: 320px) and (max-width: 767.98px){
    .about,
    .store_info{
        .frame{
            width: 80%;
        }
    }
    .container{
        .row{
            .col-12{
                margin-left: auto;
                margin-right: auto;
                .btnLarge{
                    margin: 60px auto;
                    text-align: center;
                }
                .content{
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    box-sizing: border-box;
                    .imgFrame{
                        margin-left: auto;
                        margin-right: auto;
                        border: 4px solid $blue;
                        border-radius: 12px;
                        overflow: hidden;
                        box-sizing: border-box;
                        width: 90%;
                        img{
                            width: 100%;
                            display: block;
                            background-size: 100% 100%;
                        }
                    }
                    .imgInfo{
                        position: absolute;
                        z-index: -1;
                        width: 10%;
                        img{
                            width: 80%;
                        }
                    }
                    .imgInfo:nth-child(1){
                        left: 10%;
                    }
                    .imgInfo:nth-child(2){
                        right: 8%;
                    }
                } 
            }
        }
    }
}