.game_answer{
    width: 100%;
    .answer_container{
        width: 80%;
        padding: 5px;
        margin: 70px auto 120px auto;
        border: 3px solid $blue;
        border-radius: 12px;
        box-shadow: 6px 10px 0px 0px $blue;
        background-color: #fff;
        position: relative;
        .answer_frame{
            border-radius: 8px;
            border: 2px solid $blue;
            .answer{
                padding: 20px;
                text-align: center;
                line-height: 2;
                color: #524F4F;
                font-size: 18px;
            }
        }
        &::before{
            content: "";
            width: 0px;
            border-top: 60px solid $blue;
            border-right: 50px solid transparent;
            border-bottom: 50px solid transparent ;
            border-left: 50px solid transparent;
            position: absolute;
            top: 100%;
            left: 1%;
        }
    }
    .answer_hand{
        width: 70%;
        margin: 0 auto 0 auto;
        position: relative;
        img{
            display: block;
            width: 100%;
        }
        .acupoint{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 20px;
            height: 20px;
            background-color: $red;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }
        .acupoint:hover,.acupoint:focus{
            background-color: $red;
            transition: 0.3s;
            scale: 1.5;
            box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
        }
        .zhong_chong{
            top: 55%;
            left: 35%;
        }
        .shao_shang{
            top: 5%;
            left: 52%;
        }
        .he_gu{
            top: 37%;
            left: 38%;
        }
        .ming_men{
            top: 73%;
            left: 12%;
        }
        .shen_men{
            top: 90%;
            left: 65%;
        }
        .lao_gong{
            top: 58%;
            left: 37%;
        }
        .yu_ji{
            top: 40%;
            left: 57%;
        }
        .shao_fu{
            top: 68%;
            left: 31%;
        }
        .tai_yuan{
            top: 72%;
            left: 80%;
        }
    }
    .answer_btn{
        margin-top: 120px;
        margin-bottom: 120px;
        text-align: center;
        a{
            text-decoration: none;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
        
}

/*====== 平板版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
    .game_answer{
        .answer_container{
            .answer_frame{
                .answer{
                    font-size: 20px;
                }
            }
            &::before{
                top: 110%;
            }
        }
        .answer_hand{
            width: 60%;
            .acupoint{
                width: 25px;
                height: 25px;
            }
        }
    }
}
/*====== 桌機版 RWD | >1200px ======*/
@media screen and (min-width: 1200px){
    .game_answer{
        .answer_container{
            width: 60%;
            .answer_frame{
                .answer{
                    font-size: 24px;
                }
            }
        }
        .answer_hand{
            width: 40%;
            .acupoint{
                width: 25px;
                height: 25px;
            }
        }
    }
}