.knowledge_title{
    margin-bottom: 70px;
}
.knowledge_container{
    width: 100%;
    .knowledge{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        h3{
            color: $blue;
        }
    }
}
a{
    text-decoration: none;
}
