.memCenter {
    .member {
        display: flex;
        position: absolute;
        top: 80px;
        left: 20px;

        .mem_mug_shot {
            width: 100px;
            height: 100px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .mem_name {
            height: 100%;
            position: relative;
            top: 80px;
            color: #ffffff;
        }
    }

    .mem_banner {
        width: 100%;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .panel-control {
        position: absolute;
        opacity: 0;
    }

    .tab-group label {
        display: inline-block;
        padding: 10px 30px;
        border: 1px solid #ccc;
        border-bottom: none;
        background-color: #ccc;
        bottom: -1px;
        position: relative;
    }

    .content-group {
        border: 1px solid #ccc;
        padding: 20px;
    }

    .content {
        display: none;
    }

    #radio1:checked~.tab-group [for="radio1"],
    #radio2:checked~.tab-group [for="radio2"],
    #radio3:checked~.tab-group [for="radio3"] {
        background-color: #fff;
    }

    #radio1:checked~.content-group .content1,
    #radio2:checked~.content-group .content2,
    #radio3:checked~.content-group .content3 {
        display: block
    }
}

@media screen and (min-width:320px) and (max-width:767.98px) {}