.memCenter {
    position: relative;
    //會員大頭貼
    .member {
        display: flex;
        position: absolute;
        top: 80px;
        left: 20px;

        .mem_mug_shot {
            width: 100px;
            height: 100px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .mem_name {
            height: 100%;
            position: relative;
            top: 70px;
            color: #ffffff;
            padding: 5px 10px;
            background-color: rgba(204, 204, 204, 0.192);
        }
    }
    //會員背景圖
    .mem_banner {
        width: 100%;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // 個人資料
    .person_info_item{
        padding-bottom: 32px;
    }

    .edit{
        text-align: right;
    }
    
    // 書籤頁切換
    .panel_control {
        position: absolute;
        opacity: 0;
    }

    .tab_group{
        text-align: center;
        display: flex;
        justify-content: space-around;
        background-color: $blue;
    }

    .tab_group label {
        display: inline-block;
        padding: 10px 30px;
        border-bottom: none;
        background-color: $blue;
        position: relative;
        color: $white;
    }

    .content {
        display: none;
    }

    #radio1:checked~.tab_group [for="radio1"],
    #radio2:checked~.tab_group [for="radio2"],
    #radio3:checked~.tab_group [for="radio3"] {
        background-color: $red;
    }

    #radio1:checked~.content_group .content1,
    #radio2:checked~.content_group .content2,
    #radio3:checked~.content_group .content3 {
        display: block
    }
}

@media screen and (min-width:320px) and (max-width:767.98px) {}