@media screen and (min-width: 7680px) and (max-width: 1200px){

    
.shopping-cart{
    @include container();

    
    line-height: 3;
    .shopping-title{
        @include container();
        display: flex;
        margin: 20px 0;

        .title-font{
            @include title();
            &:before{
                @include titleBefore();
            }
         }
     
    
      
    }
    .shopping-table{
        margin: auto

       
    }
    tbody>:first-child{
        background-color: aliceblue;
        font-weight: 800;
    }
    tr{
        display: flex;
        background-color:aliceblue;
        margin: 10px 0;
        padding: 10px;
    }
    th{
        width:120px;
        margin: auto;
        display: flex;
        p{ font-size: 12px;}
       
        button{
            padding: 10px;
        }
        img{
            width: 100%;
            
        }
        .addCart{
            width: 110px;
            text-align: center;
            border-radius: 100px;
            padding: 5px;
            font-size: 16px;
            font-weight: 800;
            background-color: $blue;
            color: $white;
            border: none;
            position: relative;
            z-index: 10;
            letter-spacing: 1px;
        }
    }
    .shopping-price{
        @include container();
        display: flex;
        align-items: center;
        justify-content:flex-end;
        letter-spacing: 2px;
        
    }
}

// ======================================
.purchase-area{
    @include container();
    .purchase-area-title{
        @include container();
        display: flex;
        .title-font{
            @include title();
            &:before{
                @include titleBefore();
            }
        }

        .shopping-title{
            @include container();
            display: flex;
            margin: 20px 0;

        }
   
    }
}

.purchase-area-container{
    @include container();
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
   
   
    .prev{
        position: absolute;
        z-index: 10;
    }
    .next{
        position: absolute;
        right: 0;
    }

    .purchase-area-slide{
        width: 100%;
        display: flex;
        position: relative;
    
        .purchase-area-card{
            width: 100%;
            max-width: 300px;
            margin: 10px;
            padding: 5px;
            box-shadow: 0px 0px 10px rgb(204, 204, 204);
            flex-shrink: 0;
    
            .purchase-area-pic img{
                width: 100%;
            }
          
        
                .purchase-area-cpacity{
                    padding: 5px;
                }
                .purchase-area-orign{
                    padding: 5px;
                }
            }
            .purchase-area-price{
                display: flex;
                justify-content: flex-end;
                padding: 5px;
            }
        
        }
  
    }



   
}


