
    
    @media screen and (min-width:1200px) {
        .bread{
            padding: 10px;
            font-size: 16px;
        }
        .product-title{
            @include container();
            line-height: 2;
            display: flex;
            justify-content: space-between;
          
            .product-body{
                width: 45%;
            }
       
            .product-pic{
                width: 45%;
            }
            .product-pic img{
                width: 100%;
            }
         
            .pic-control{
                width: 100px;
                display: none ;
                justify-content: space-evenly;
                margin: auto;
        
                .pic-number{
                    font-size: 0px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: gray;
                }
            }
            .pic-slide{
             
              display: flex;
              align-items: center;
              margin-bottom: 30px;
                .pic-chose{
                    width: 200px;
                    height: 120px;
                   
                }
                img{
                    width: 100%;
                    height: 100%; 
                    opacity: .2;   
                }
                button{
                    width: 30px;
                    height: 30px;
                }
            }
            .product-number{
                display: flex;
                align-items: center;
                justify-content: flex-start ;
                margin: 10px 0;
                button{
                    width: 30px;
                    height: 30px;
                    font-size: 25px;
                }
                input{
                    width: 50px;
                    padding: 5px 0;
                    text-align: center;
                }
            }
            .product-price{
                display: flex;
                justify-content: flex-start ;
                padding: 10px;
                p{
                    font-size: 35px;
                }
              
            }
        
        }
      
    }

    // ===================================

    @media screen and (min-width:1024px) {
        .bread{
            padding: 10px;
            font-size: 16px;
        }
        .product-title{
            @include container();
            line-height: 2;
            display: flex;
            justify-content: space-between;
          
            .product-body{
                width: 45%;
            }
        
            .product-pic{
                width: 400px;
            }
            .product-pic img{
                width: 130%;
            }
         
            .pic-control{
                width: 100px;
                display: none;
                justify-content: space-evenly;
                margin: auto;
        
                .pic-number{
                    font-size: 0px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: gray;
                }
            }
            .pic-slide{
              display: flex;
              align-items: center;
              margin-bottom: 30px;
              justify-content: center;
              margin: auto;
                .pic-chose{
                    width: 500px;
                    height: 120px;
                    display: flex;
                    
                   
                }
                img{
                    width: 100%;
                    height: 100%; 
                    opacity: .2;   
                }
                button{
                    width: 30px;
                    height: 30px;
                }
            }
            .product-number{
                display: flex;
                align-items: center;
                justify-content:flex-start;
                margin: 10px 0;
                button{
                    width: 30px;
                    height: 30px;
                    font-size: 25px;
                }
                input{
                    width: 50px;
                    padding: 5px 0;
                    text-align: center;
                }
            }
            .product-price{
                display: flex;
                justify-content: flex-start;
                padding: 10px;
                p{
                    font-size: 35px;
                }
              
            }
        
        }
        // ==========================
    }
