.sr_only{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}
.banner{
    height: 600px;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.main_title{
    position: absolute;
    right: 0;
    top: 20%;
    img{
        width: 13vw;
    }
}