.page_header {
    width: 100%;
    display: flex;
    background-color: $baseWhite;
    box-shadow: 0px 2px 3px rgba(48, 48, 48, 0.252);

    a {
        font-family: $fontTitle;
        font-size: 18px;
        letter-spacing: 2px;
        color: $blue;
        text-decoration: none;

    }
}

button {
    @include btnLittle()
}

.text2 {
    @include btnLarge()
}

.text3 {
    @include btnAddCart()
}