<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    @@include('./layout/header.html')
    <div class="background-pic">
        <img src="./images/bcgFlower.png" alt="">
        </div>
        
    <!-- ========================================banner -->
<div id="app"  style="margin-bottom:300px; margin-top: 100px;"class="shopping-container" >

<div class="path">

    <!-- <div class="target" :class="{hint:active==1}">
        <h4 :class="{hint:active==1}">確認商品</h4>
    </div>
    <div class="target" :class="{hint:active==2}">
        <h4 :class="{hint:active==2}">填寫資訊</h4>
    </div>
    <div class="target" :class="{hint:active==3}">
        <h4 :class="{hint:active==3}">付款</h4>
    </div>
</div> -->



    <!-- ============================== -->
    <div class="confirm-data col-6 pay-list " v-if="active==1">
        <div class="confirm-data-title">
            <p>確認商品</p>
        </div>
        <form action="">
            <table >
                <tr>
                    <th>商品名稱</th>
                    <th>數量</th>
                    <th>價格</th>
                </tr>
                <tr v-for="item in calculate">
                    <th>{{item.name}}</th>
                    <th>{{item.num}}</th>
                    <th>{{item.price*item.num}}</th>
                 
                
                </tr>
            
                <tr style="border-top:1px solid black">
                    <th>折抵價錢</th>
                    <th></th>
                    <th>-{{box-totalPrice}}</th>
                </tr>
                <tr >
               
                    <th>總價</th>
                    <th></th>
                    <th>{{totalPrice}}</th>
                </tr>
            </table>
            <div class="pay-btn">
                <button class="btnLittle" @click="next">下一步</button>
            </div>
            
        </form>
    </div>
<!-- ================================= -->

    <div class="receiver col-6   pay-list" v-if="active==2">
        <div class="receiver-title">
            <p>收貨人訊息</p>
        </div>
        <form action="">

            <table class="address" width="300" border="1">
                <tr>
                    <th><label for="name">名字:</label></th>
                    <th><input type="text" name="" value="" id="name"></th>
                </tr>
                <tr>
                    <th><label for="gender">性別:</label></th>
                    <th style="display:flex;">男<input type="radio" name="gender" value="man">
                        女<input type="radio" name="gender" value="woman"></th>
                </tr>
                <tr>
                    <th><label for="cellphone"> 手機:</label></th>
                    <th><input type="text" name="" value="" id="cellphone"></th>
                </tr>
                <tr>
                    <th><label for="">付款方式:</label></th>
                    <th style="display:flex;">信用卡<input type="radio" name="pay" value="man">
                        貨到付款<input type="radio" name="pay" value="woman"></th>
                </tr>
                    
                <tr>
                    <th> <label for="">收件地址:</label></th>
                    <th> <select name="" id="address" v-model="sel">
                        <option  v-for="item in city" :value="item.CityName" >{{item.CityName}}</option>
                    </select>    <select name="" id="" v-model="selArea">
                        <option v-for="item in township"  :value="item.AreaName">{{item.AreaName}}</option>
                    </select></th>
            
             
                </tr>
                <tr>
                    <th></th>
                    <th><input type="text" placeholder="請輸入詳細地址"></th>
                </tr>
                <tr>
                    <th></th>
                    <th><button  class="btnLittle" typr="button">
                        <a class="pay-url"  href="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5">前往結帳</a>
                    </button> </th>
                </tr>
            </table>
        </form>
    </div>


 
<!-- ===================================== -->

    <div class="credit-card col-6   pay-list" v-if="active==3">
        <div class="credit-card-title">
            <p>信用卡付款</p>
        </div>
        <form action="">
            <div class="credit-card-name">
                <label for="credit-people">持卡人姓名:</label>
                <input type="text" name="credit-people" value="" >
            </div>
            <div class="credit-card-number">
                <label for="credit-people">卡片號碼:</label>
            <input type="text" name="" value="">
            </div>
            <div class="credit-card-date">
                有效期限:<select name="" id=""></select>
                        <select name="" id=""></select>
                        <select name="" id=""></select>
    
                  
            </div>
            <div class="pay-btn">
                 <button class="btnLittle">送出</button>
            </div>
        </form>
 
    </div>

  

    <!-- ============================================= -->

       
</div>
@@include('./layout/footer.html')  

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            Vue.createApp({
               data(){
                   return{
                    city:[],
                    sel:"臺北市",
                    selArea:"",
                    car:[],
                    money:0,
                    active:1,
                    width:0,
                    box:0,
                    calculate:[],
                    
                 
                   }
               },
               methods:{
                    getAddress(){
                    
                        // this.data = this.obj.data

                        // this.commodity=this.obj.gun
                        // this.gun = this.obj.gun
                        // this.equipment = this.obj.equipment
                        // this.oil = this.obj.rose
                 
                       
                        window.onresize=()=>{
                            this.width = window.innerWidth
                            console.log(this.width)//查銀幕寬度
                            if(this.width<700){
                            console.log("太小了")
                        }
                         
                        }
                    },
                    first(){
                        this.selArea = this.township[0].AreaList.AreaName
                    },
                   
                    
                 carOnline(){
             
                    let buyCar = localStorage.getItem('car');
                    if (!buyCar) return;
                    this.car= JSON.parse(buyCar)

                        
                    let gold = localStorage.getItem("price")
                    if(!gold) return;
                    this.totalPrice = JSON.parse(gold)

                    let choses = localStorage.getItem("chose")
                    if(!choses) return
                    this.calculate = JSON.parse(choses)
                
                },
                set(){
                    this.$set(car,1,{})
                },
                next(){
                    this.active+=1
                }
                   
               },
               computed:{
                township(){
                    return this.city.find(city=>city.CityName == this.sel)?.AreaList

                },
                buyCar:function(){
                    return JSON.parse(JSON.stringify(this.car))
                },
                checkList:function(){
                    return JSON.parse(JSON.stringify(this.calculate))
                }

               },
               watch:{
                buyCar:{
                    handler(newVal,oldVal){
                        this.money=""
                        for(let i=0;i<newVal.length;i++){
                            this.money = parseFloat(this.money+newVal[i].price*newVal[i].num)
                        }
                    }
                },
                checkList:{
                    handler(newVal,oldVal){
                        this.box=""
                        for(let i=0;i<newVal.length;i++){
                            this.box = parseFloat(this.box+newVal[i].price*newVal[i].num)
                        }
                    }
                }
               },
               created() {
                this.carOnline()

                axios.get("./json/taiwan.json")
                .then((res)=>{
                    console.log(res)

                    this.city=res.data
                })
               },
               updated() {
              
               },
               mounted() {
                   this.getAddress()
                   this.first()
                  
               },
            }).mount("#app")
           </script>
</body>
</html>