<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
   
<div id="app">
    <header class="page_header">
        <nav>
            <input type="checkbox" id="check">
            <label for="check">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </label> 
            <a href="../index.html" class="header_logo"><img src="../images/headerLogo.png" alt=""></a>
            <ul>
                <li><a href="../aboutUs.html">關於我們</a></li>
                <li><a href="../reservation.html">預約按摩</a></li>
                <li><a href="../shopingArea.html">商品專區</a></li>
                <!-- <a href="../index.html" class="header_logo"><img src="../images/headerLogo.png" alt=""></a> -->
                <li><a href="../massageschool.html">按摩小學堂</a></li>
                <li><a href="">常見問題</a></li>
            </ul>
            <div class="header_icon">
                <span class="header_member"><a href="../memLogin.html" ><img src="../images/headerMember.png" alt=""></a></span>
                <span class="header_shopping_cart"><a href="../shoppingCart.html"><img src="../images/headerShoppinCart.png" alt=""></a></span>
            </div>  
            
        </nav>
    </header>

    <!-- ========================= -->
    
    <div class="commodity-container">
        <div class="page-path">
            <div class="commodity-title">
               <div class="title-font">嚴</div>
               <div class="title-font">選</div>
               <div class="title-font">商</div>
               <div class="title-font">品</div>
            </div>
            <div class="bread">
                <small>首頁>商品專區>嚴選產品</small>
            </div>  
        </div>

        <div class="commodity-search">
            <div class="commodity-filter">
                <span>排序方式: </span>
                <select name="" id="" @change="change" v-model="orderSel">
                    
                    <option value="news">由新到舊</option>
                    <option value="old">由舊到新</option>
                    <option value="height">價錢由高至低</option>
                    <option value="low">價錢由低至高</option>
                </select>
            </div>
            <div class="commodity-enter">
                <input type="text" placeholder="輸入商品名稱">
            </div>
            <!-- <div class="commodity-keywords">
                <p class="words">玫瑰</p>
                <p class="words">薄荷</p>
                <p class="words">筋膜槍</p>
                <p class="words">按摩槍</p>
                <p class="words">精油</p>
            </div> -->
        </div>
    </div>
   

    <div class="area-list">
        <div class="row">
            <div class="area-order">
                <div class="area-order-title">
                    <h4>商品清單</h4>
                </div>
                <ul>
                    <li v-for="(product,key,value) in obj" @click="showOil(key,value)" :class="{focus:value==number}" >
                        <span style="font-size: 23px;font-weight: 800;" :class="{focus:value==number}">{{product[0].itemName}}</span>
                        <!-- <span class="triangle">{{text}}</span>                           -->

                        <ul :class="{oilList:openPage1}">
                            <li>玫瑰ROSE</li>
                            <li>薰衣草 Lavender</li>
                            <li>薄荷 Peppermint</li>
                        </ul>    
                    </li>
                </ul>
            </div>
    
            <div class="wrap">
        

       
                    <div class="area-box" v-if="currentPage==1" :class="{block:currentPage==1}" >

                      
                        <div class="col-3  area-card" v-for="(item,key) in commodity" @click="addOrder(item.id)" :key="item.id" >
                            <a href="./productdetails.html">
                            <div class="area-pic">
                                <img :src="item.img">
                            </div>
                            <div class="area-name bold">
                                <h4>{{item.name}}</h4>
                            </div>
                            <small v-for="i in radom">⭐</small>
                            <div class="area-price">
                               
                                <p>NT${{item.price}}</p>
                                
                            </div>
                        </a>
                        </div>
                   
                    </div>
                
              
                    <div class="area-box" v-if="currentPage==2" :class="{block:currentPage==1}" >
                 
                        <div class="col-3  area-card" v-for="(item,key) in commodity" @click="addOrder(item.id)" :key="item.id" >
                            <a href="./productdetails.html">
                            <div class="area-pic">
                                <img :src="item.img">
                            </div>
                            <div class="area-name bold">
                                <h4>{{item.name}}</h4>
                            </div>
                            <small v-for="i in radom">⭐</small>
                            <div class="area-price">
                               
                                <p>NT${{item.price}}</p>
                                
                            </div>
                        </a>
                        </div>
                    </div>
                
<!-- ========================================================== -->
                <!-- <div class="area-box" v-if="show=currentPage=='3'" :class="{block:currentPage==3}">
                    <div class="col-3  area-card" v-for="(item,value) in rose">
                        <div class="area-pic">
                            <img :src="item.img">
                        </div>
                        <div class="area-name">
                            <h3>{{item.name}}</h3>
                        </div>
                        <div class="area-introduce">
                            <div class="area-oritem">
                                <small class="area-capacity">{{item.cpacity}}</small>
                                <small class="area-origin">產地：{{item.origin}}</small>
                        
                            </div>
                            <div class="area-price">
                                <p>售價:{{item.price}}元</p>
                            </div>
                        </div>
                    </div>
                </div>
             -->
                <div class="page-number-computer" v-if="number==0">
                    <button  class="btnLittle"  @click="pageReduce"><</button>
                    <span style="  letter-spacing: 2px;" v-for="i in 2" :class="{fontcolor:i==currentPage}" @click="chose(i)">{{i}}</span>
                    <button class="btnLittle"  @click="pageAdd()">></button>
                </div>
            </div> 
        </div>
    </div>            
</div>
   
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <script>
   




     Vue.createApp({
        data(){
            return{
                data:[],
                info:[],
                rose:[],
                order:[],
                car:[],
                gun:[],
                commodity:[],
                index:1,
                count:0,
                text:"+",
                text2:"+",
                openPage1:true,
                openPage2:true,
                currentPage:1,
                radom:5,
                number:0,
                orderSel:"",

                //=======================
                secondGun:[

{
"id":7,
"itemName": "按摩槍",
"img":"./images/japan.png",
"imgTop":"./images/activity.png",
"imgBody":"./images/pinkhun.png",
"name":"美式按摩槍",
"origin":"美國",
"num":0,
"price":1250,
"logo":"Full",
"date":11/15,
"checkout":"貨到付款/線上支付/",
"warranty":"1年",
"product1":"六段按摩強度調整功能",
"product2":"四種按摩頭",
"product3":"USB充電",

"specification":{

            "name":"日式按摩槍 FG-271",
            "brand":"其他",
            "type":"按摩滾筒",
            "color":"青綠色",
            "size":"(寬)168x (深)65x (高)235 mm",
            "origin":"美國"
    },
"feature":{
    "one":" 38段檔位調節，男女老少都試用",
    "two":"  8MM深層筋膜震感 ",
    "three":" 710克輕巧機身",
    "four":" USB充",
    "five":"3000轉高速捶打",
    "six":"2400mAh內置電池",
    "seven":"運作低噪，不吵鄰"
    }


},
{
"id":8,
"itemName": "按摩槍",
"img":"./images/japan.png",
"imgTop":"./images/activity.png",
"imgBody":"./images/pinkhun.png",
"name":"美式按摩槍",
"origin":"美國",
"num":0,
"price":1250,
"logo":"Full",
"date":11/15,
"checkout":"貨到付款/線上支付/",
"warranty":"1年",
"product1":"六段按摩強度調整功能",
"product2":"四種按摩頭",
"product3":"USB充電",

"specification":{

            "name":"日式按摩槍 FG-271",
            "brand":"其他",
            "type":"按摩棒/按摩器",
            "color":"青綠色",
            "size":"(寬)168x (深)65x (高)235 mm",
            "origin":"美國"
    },
"feature":{
    "one":" 38段檔位調節，男女老少都試用",
    "two":"  8MM深層筋膜震感 ",
    "three":" 710克輕巧機身",
    "four":" USB充",
    "five":"3000轉高速捶打",
    "six":"2400mAh內置電池",
    "seven":"運作低噪，不吵鄰"
    }


},

],
                obj:{
               
                gun:[
          {
            "id":1,
            "itemName": "按摩槍",
            "img":"./images/japan.png",
            "imgTop":"./images/activity.png",
            "imgBody":"./images/pinkhun.png",
            "name":"美式按摩槍",
            "origin":"美國",
            "num":0,
            "price":1250,
            "logo":"Full",
            "date":11/15,
            "checkout":"貨到付款/線上支付/",
            "warranty":"1年",
            "product1":"六段按摩強度調整功能",
            "product2":"四種按摩頭",
            "product3":"USB充電",

            "specification":{

                            "name":"日式按摩槍 FG-271",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"青綠色",
                            "size":"(寬)168x (深)65x (高)235 mm",
                            "origin":"美國"
                    },
            "feature":{
                    "one":" 38段檔位調節，男女老少都試用",
                    "two":"  8MM深層筋膜震感 ",
                    "three":" 710克輕巧機身",
                    "four":" USB充",
                    "five":"3000轉高速捶打",
                    "six":"2400mAh內置電池",
                    "seven":"運作低噪，不吵鄰"
                    }
            
            
          },
          {
            "id":2,
            "itemName": "按摩槍",
            "img":"./images/fire.png",
            "imgTop":null,
            "imgBody":null,
            "name":"火星計畫",
            "origin":"日本",
            "num":0,
            "price":1910,
            "logo":"Full",
            "date":3/21,
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"市場同級最輕，9mm迷你",
            "product2":"350g輕盈隨行，收納好輕巧",
            "product3":"防手震專利，防震結構再升級",

            "specification":{

                            "name":"火星計畫",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"暗黑色",
                            "size":"(寬)178x (深)61x (高)225 mm",
                            "origin":"日本"
                    },
            "feature":{
                    "one":" 36段檔位調節，男女老少都試用",
                    "two":"  8MM深層筋膜震感 ",
                    "three":" 710克輕巧機身",
                    "four":" USB充",
                    "five":"3000轉高速捶打",
                    "six":"2400mAh內置電池",
                    "seven":"運作低噪，不吵鄰"
                    }
            
            
          },
          {
            "id":3,
            "itemName": "按摩槍",
            "img":"./images/usb.png",
            "imgTop":"./images/usb2.png",
            "imgBody":"./images/usb3.png",
            "name":"NEX Pro便攜型",
            "origin":"中國",
            "num":0,
            "price":1310,
            "logo":"Full",
            "date":4/1,
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"重量僅550G，隨身攜帶好方便",
            "product2":"100% 金屬高密度塑料製成",
            "product3":"航空級鋁材雙軸，降低手震",

            "specification":{

                            "name":"NEX Pro便攜型",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"紅黑色",
                            "size":"16.5X9.1X4.8cm",
                            "origin":"中國"
                    },
            "feature":{
                    "one":" 材質:鋁合金, 不銹鋼, 玻璃纖維,",
                    "two":"  充電時間:６小時 ",
                    "three":" 最高轉速:3500ppm(Max)",
                    "four":" USB充",
                    "five":"3000轉高速捶打",
                    "six":"2400mAh內置電池",
                    "seven":"運作低噪，不吵鄰"
                    }
            
          },
          {
            "id":4,
            "itemName": "按摩槍",
            "img":"./images/mini.png",
            "imgTop":"./images/mini1.png",
            "imgBody":"./images/mini2.png",
            "name":"玩美小摩",
            "origin":"澳洲",
            "num":0,
            "price":1910,
            "logo":"Full",
            "date":7/15,
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"4款可替換按摩頭",
            "product2":"無碳刷馬達減震設計",
            "product3":"500g零負擔",

            "specification":{

                            "name":"玩美小摩",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"時尚粉",
                            "size":"尺寸：長155x寬88x高45(mm)",
                            "origin":"澳洲"
                    },
            "feature":{
                    "one":" 型號：TS-136",
                    "two":"  輸入電壓：DC5V 2A",
                    "three":" 710克輕巧機身",
                    "four":" 額定功率：20W",
                    "five":"3000轉高速捶打",
                    "six":"2400mAh內置電池",
                    "seven":"運作低噪，不吵鄰"
                    }
            
            
          },
          {
            "id":5,
            "itemName": "按摩槍",
            "img":"./images/knock.png",
            "imgTop":"./images/knock1.png",
            "name":"敲敲小摩",
            "origin":"日本",
            "num":0,
            "price":1910,
            "logo":"Full",
            "date":2/5,
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"MIT台灣研發設計、製造。",
            "product2":"採用日系高品質電芯",
            "product3":"470g 輕量小巧的體積",

            "specification":{

                            "name":"敲敲小摩",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"夕陽粉",
                            "size":"90.7 x 47 x 146.2 mm",
                            "origin":"日本"
                    },
            "feature":{
                    "one":" 四段震動檔數，每分鐘轉速 1600 / 2100 / 2700 / 3200 rpm",
                    "two":"  電池容量2900mAh ",
                    "three":" 710克輕巧機身",
                    "four":" USB充",
                    "five":"工業級PC / ABS",
                    "six":"2400mAh內置電池"
                 
                    }
            
            
          },
          {
            "id":6,
            "itemName": "按摩槍",
            "img":"./images/rose.png",
            "imgTop":"./images/rose1.png",
            "imgBody":"./images/rose2.png",
            "name":"迷你震動按摩槍",
            "origin":"德國",
            "num":0,
            "price":1800,
            "logo":"Full",
            "date":12/25,
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"無刷強磁馬達",
            "product2":"四種按摩頭",
            "product3":"九段震動調速",

            "specification":{

                            "name":"迷你震動按摩槍",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"玫瑰紅",
                            "size":"(寬)178x (深)61x (高)225 mm",
                            "origin":"德國"
                    },
            "feature":{
                    "one":" 無刷強磁馬達",
                    "two":"  無刷馬達 ",
                    "three":" 680克輕巧機身",
                    "four":" 九段震動調速",
                    "five":"輸入電壓/電流：DC 5V/2A(Max)",
                    "six":"2400mAh內置電池",
                    "seven":"運作低噪，不吵鄰"
                    }
            
            
          }
      ],  
         
                
                equipment:[
                {
            "id":9,
            "itemName": "按摩滾筒",
            "img":"./images/33cm.png",
            "imgTop":"./images/33cm01.png",
            "name":"33cm運動滾輪",
            "origin":"美國",
            "num":0,
            "price":150,
            "logo":"QMAT",
            "date":8/15,
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"腿部乳酸堆積舒緩，拒絕蘿蔔腿",
            "product2":"運動後緩解肌肉痠痛，深層按摩",
            "product3":"需長期久站工作者改善靜脈曲張",

            "specification":{

                            "name":"33cm運動滾輪",
                            "brand":"其他",
                            "type":"按摩滾筒",
                            "color":"粉紫銀河",
                            "size":"直徑13cmx33cm",
                            "origin":"日本"
                    },
            "feature":{
                    "one":"不可曝曬, 不可用清潔劑清洗",
                    "two":" 抗汗、不易凹陷回復性佳、使用壽命久 ",
                    "three":" 約600g(±5g)",
                    "four":" 表面硬度40-45度，內部硬度60 shore c",
                    "five":"3000轉高速捶打",
          
                    },
                },
                {
            
            "id":10,
            "itemName":"按摩滾筒",
            "img":"./images/Eco.png",
            "imgTop":"./images/Eco1.png",
            "name":"環保EVA空心瑜珈柱",
            "origin":"美國",
            "num":0,
            "price":120,
            "logo":"Full",
            "date":2/15,
            "checkout":"貨到付款/線上支付/",
            "warranty":"3年",
            "product1":"3D立體結構模擬手感按壓",
            "product2":"預防運動損傷 促進血液循環",
            "product3":"舒緩肌肉酸痛疲 勞增進肌肉彈性",

            "specification":{

                            "name":"環保EVA空心瑜珈柱",
                            "brand":"其他",
                            "type":"按摩滾筒",
                            "color":"藍色",
                            "size":"直徑14cm*高33cm",
                            "origin":"美國"
                    },
            "feature":{
                    "one":" 優質EVA",
                    "two":"  環保ABS ",
                    "three":" 877g",
                    "four":" 採手工測量，如有1~2cm誤差，皆屬正常範圍",
                    "five":"3000轉高速捶打",
                    "six":"可承重量：100kg內",
                    }
                    
          },
          {
            
            "id":11,
            "itemName": "按摩滾筒",
            "img":"./images/funsport.png",
            "imgTop":"./images/funsport1.png",
            "imgBody":"./images/funsport2.png",
            "name":"艾羅力筋膜按摩滾筒",
            "origin":"西班牙",
            "num":0,
            "price":1250,
            "logo":"Full",
            "date":11/15,
            "checkout":"貨到付款/線上支付/",
            "warranty":"1年",
            "product1":"筋膜放鬆按摩,健身運動配備",
            "product2":"輔助瑜珈伸展,復健伸展運用",
            "product3":"自力深層按摩",

            "specification":{

                            "name":"艾羅力筋膜按摩滾筒",
                            "brand":"其他",
                            "type":"按摩滾筒",
                            "color":"星夜藍",
                            "size":"長45x直徑15cm",
                            "origin":"西班牙"
                    },
            "feature":{
                    "one":" 硬度-30D",
                    "two":"  材質-EVA ",
                    "three":" 軟硬度:稍軟",
                    "four":" USB充",
                    "six":"2400mAh內置電池",
                    "seven":"運作低噪，不吵鄰"
                    }
                    
          },
          {
            
            "id":12,
            "itemName": "按摩滾筒",
            "img":"./images/MEJEY.png",
            "name":"實心瑜珈軸",
            "origin":"台灣",
            "num":0,
            "price":250,
            "logo":"Full",
            "date":3/5,
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"手感親膚,安心環保",
            "product2":"瑜珈按摩好幫手",
            "product3":"商品使用方式請參考網頁圖示說明",

            "specification":{

                            "name":"實心瑜珈軸",
                            "brand":"其他",
                            "type":"按摩滾筒",
                            "color":"粉灰色",
                            "size":":約44CMX12CM",
                            "origin":"台灣"
                    },
            "feature":{
                    "one":" MEJEY 按摩瑜珈軸",
                    "two":" 升級款!! 實心按摩滾筒,不易變形 ",
                    "three":"2種凸點,貼心設計不同體驗",
                    "four":" 可用於腰部、腿部、背部、臀部等等,瑜珈按摩好幫手",
                    "five":"手感親膚,安心環保",
                    }
                    
          },
      ],
                
                ball:[
                {
            
            "id":13,
            "itemName": "按摩球",
            "img":"./images/ROAR.png",
            "name":"天然橡膠按摩球 ",
            "origin":"台灣",
            "num":0,
            "price":50,
            "logo":"INEXTION",
            "date":3/5,
            "checkout":"貨到付款/線上支付/",
            "warranty":"1年",
            "product1":"一組2種不同硬度的設計",
            "product2":"高密度天然橡膠材質",
            "product3":"提供體貼不同身體狀況的按壓強度",

            "specification":{

                            "name":"天然橡膠按摩球 ",
                            "brand":"其他",
                            "type":"按摩球",
                            "color":"粉灰色",
                            "size":":直徑 6.3cm",
                            "origin":"台灣"
                    },
            "feature":{
                    "one":" 硬度：淺藍 - 50D*1、天灰 - 65D*1",
                    "two":" 重量：0.2kg ",
                    "three":"材質：天然橡膠",
                    "four":" 可用於腰部、腿部、背部、臀部等等,瑜珈按摩好幫手",
                    "five":"手感親膚,安心環保",
                    }
                    
          },
          {
          "id":14,
            "itemName": "按摩球",
            "img":"./images/WE FIT.png",
            "imgTop":"./images/WE FIT1.png.png",
            "imgBody":"./images/WE FIT2.png.png",
            "name":"多功能筋膜按摩球 ",
            "origin":"美國",
            "num":0,
            "price":50,
            "logo":"INEXTION",
            "date":3/5,
            "checkout":"貨到付款/線上支付/",
            "warranty":"1年",
            "product1":"隨時隨地 舒爽放鬆",
            "product2":"固定底座 按摩更方便",
            "product3":"輕巧便攜",

            "specification":{

                            "name":"多功能筋膜按摩球 ",
                            "brand":"其他",
                            "type":"按摩球",
                            "color":"橘色",
                            "size":":直徑 6.3cm",
                            "origin":"美國"
                    },
            "feature":{
                    "one":" 輕巧便攜，不佔空間",
                    "two":" 重量：1kg ",
                    "three":"緩解肌肉痠痛，消除訓練後的疲勞",
                    "four":" 可用於腰部、腿部、背部、臀部等等,瑜珈按摩好幫手",
                    "five":"產品材質：熱塑性彈性體(TPE)",
                    }
                    
          },
          {
          "id":15,
            "itemName": "按摩球",
            "img":"./images/sport.png",
            "imgTop":"./images/sport1.png",
            "imgBody":"./images/sport2.png",
            "name":"康力爾花生球 ",
            "origin":"中國大陸",
            "num":0,
            "price":120,
            "logo":"Fun Sport",
            "date":7/5,
            "checkout":"貨到付款/線上支付/",
            "warranty":"1年",
            "product1":"符合人體工學弧形設計",
            "product2":"天然橡膠微彈性",
            "product3":"專業尺寸硬度",

            "specification":{

                            "name":"康力爾花生球 ",
                            "brand":"其他",
                            "type":"按摩球",
                            "color":"黑黃",
                            "size":":138x66mm／雙球65mm",
                            "origin":"中國大陸"
                    },
            "feature":{
                    "one":" 5合1新創醒肌按摩功能",
                    "two":" 245g／雙球顆100g ",
                    "three":"緩解肌肉痠痛，消除訓練後的疲勞",
                    "four":" TPR橡膠、不鏽鋼、酒精（球內）",
                    "five":"材質:橡膠",
                    }
                    
          },
          
        
            ]
                }

        }
        },
        methods: {
            commodityInfo(){
             
                console.log(this.obj)
                           
                    this.data = this.obj.data

                    this.commodity=this.obj.gun
                    this.gun = this.obj.gun
                    this.equipment = this.obj.equipment
                    this.ball = this.obj.ball

                    this.orderSel="news"
            
            },
            showOil(key,value){
                if(key=="gun"){
                    this.commodity=this.gun
               
                }else if(key=="equipment"){
                    this.commodity=this.equipment
                }else{
                    this.commodity=this.ball
                }
                console.log(value)
                this.number=value
                this.currentPage=1
            },
            showAppliance(){
                this.openPage2 = !this.openPage2
                if(!this.openPage2){
                    this.text2="-";
                }else{
                    this.text2="+";
                }
            },
            chose(i){
                this.currentPage=i
            },
            pageReduce(){
                if(this.currentPage>1){
                    this.currentPage-=1;
                }
                if(this.currentPage==1){
                    this.commodity = this.obj.gun
                }   
            },
            pageAdd(){
             
                if(this.currentPage<2){
                    this.currentPage+=1;
                    
                }
                if(this.currentPage==2){
                    
                    this.commodity = this.secondGun
                    console.log(this.secondGun)
                }
        
            },
            addOrder(id){
             let index = this.commodity.findIndex(item=>item.id==id)
          
                this.order.push({
                    id:this.commodity[index].id,
                    img:this.commodity[index].img,
                    imgTop:this.commodity[index].imgTop,
                    imgBody:this.commodity[index].imgBody,
                    name:this.commodity[index].name,
                    price:this.commodity[index].price,
                    num:this.commodity[index].num,
                    logo:this.commodity[index].logo,
                    product1:this.commodity[index].product1,
                    product2:this.commodity[index].product2,
                    product3:this.commodity[index].product3,
                    specification:this.commodity[index].specification,
                    feature:this.commodity[index].feature
                })

                
               
                this.storage()
            },
            clear(){
                let index = this.data.findIndex(item=>item.id==id)
                this.order.splice(index,1)
                console.log(this.order)
                localStorage.clear("order")
            },
            storage(){
                localStorage.setItem("order",JSON.stringify(this.order))
            },
            online(){
                let orderList = localStorage.getItem("order");
                if(!orderList) return;
                this.order = JSON.parse(orderList);
            },
        
            carOnline(){
            let buyCar = localStorage.getItem("car");
                if(!buyCar) return;
                this.car = JSON.parse(buyCar)
            },
            change(){
                console.log(this.orderSel)
                if(this.orderSel=="news"){
                    this.commodity.sort(function(a,b){
                        return a.date-b.date
                    })

                }else if(this.orderSel=="old"){
                    this.commodity.sort(function(a,b){
                        return b.date-a.date
                    })

                
                } else if(this.orderSel=="height"){
                    this.commodity.sort(function(a,b){
                        return b.price-a.price
                })
              
            }else if(this.orderSel=="low"){
                this.commodity.sort(function(a,b){
                        return a.price-b.price
                })
            }
        }
          
          
        },
        created() {
            this.clear()
            this.online()
            this.carOnline()
           
        },
        computed:{
           
        },
        
        mounted() {
            this.commodityInfo()
          
        
        },
     }).mount("#app")

    
    </script>

    
</body>
</html>