<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <div class="background-pic">
        <img src="./images/bcgFlower.png" alt="">
    </div>
     @@include('./layout/header.html')
        <!-- ========================================banner -->
    <div id="app" style="margin-bottom:200px;margin-top: 100px;" class="shopping-container">
        <div class="shopping-cart">
            <div class="shopping-title">
                <div class="title-font">購</div>
                <div class="title-font">物</div>
                <div class="title-font">車</div>
            </div>

            <div class="shopping-list col-12">
                 <div class="shopping-cart-empty" v-if="detect==0" style="text-align:center;">
                    <h1>目前購物車是空的</h1>
                </div> 
   
                <div class="shopping-list-order" v-for="item in car">
                    <input type="checkbox"   v-model="calculate" :value="item">
           
                    <div class="shopping-list-pic ">
                        <img :src="item.img" alt="">
                    </div>
                    <div class="shopping-list-body">
                        <div class="shopping-list-name">
                            <h5>{{item.name}}</h5><br>
                            <p>✅{{item.product1}}</p>
                            <p>✅{{item.product2}}</p>
                         
                        </div>
                 
                        <div class="shopping-list-calculate">
                            <h5>${{item.price}}</h5>
                        </div>
                        <div class="shopping-list-int">
                            <button @click="reduceNum(item)">-</button ><input style="text-align:center" type="text" :value="item.num" size="1"><button @click="addNum(item)">+</button>
                        </div>
                    </div>
                    <div class="shopping-list-btn">
                        <button  class="btnMinimum" style="padding:7px"  @click="reduceCar(item.id)">移出購物車</button>
                    </div>
                </div>
            </div>
            <div class="shopping-line"><small>確認價錢</small></div>
            
         
                <div class="shopping-discount">
                    <h5>選擇優惠券:</h5>
                    <select name="" id="" v-model="sel">
                        <option value="1">請選擇</option>
                        <option value="0.85">85折</option>
                        <option value="0.7">7折</option>
                        <option value="0.5">5折</option>
                
                    </select>
                </div>
                <div class="shopping-price">
                    <div class="shopping-box">
                        全選<input type="checkbox" v-model="checked"  @click="checkTotal">
                        <button class="btnLarge" @click="drop">刪除選取項目</button>
                    </div>
                    <div class="shopping-check">
                    <div class="shopping-checkout">
                        <p>商品金額:{{box}}元</p><p>折扣金額:{{box-totalPrice}}</p>  <p>結帳金額:$<strong>{{totalPrice}}</strong></p>
                    <a   @click="checkCar" href="./Payment.html" ><button class="btnLittle">前往結帳</button> </a>
                    </div>
                    
                </div>

            </div>
            
        </div>


        <div class="purchase-area">
            <div class="purchase-area-title">
               <div class="title-font">加</div>
               <div class="title-font">購</div>
               <div class="title-font">區</div>
            </div>
         
            <div class="purchase-area-container">
                <button @click="next" class="next"><</button>
                <div class="purchase-area-slide" :style="{left:330*index+'px',
                transition:.5+'s'}">
                  <div class="purchase-area-card" v-for="(item,value) in total" :key="item.id">
                        <div class="purchase-area-pic">
                            <img :src="item.img" alt="">
                        </div>
                     
                        <div class="purchase-area-introduce">
                            <div class="purchase-area-name bold">
                                <h5>{{item.name}}</h5>
                            </div>
                        <div class="purchase-area-price">
                            <h3>$<h3 class="price-important">{{item.price}}</h3></h3>
                        </div>
                        <div class="purchase-area-btn ">
                            <button class="btnLittle" @click="addCar(item.id,item)">加入購物車</button>
                        </div>
                    </div>
                </div>
            </div>
            <button @click="prev" class="prev">></button>
        </div>
    </div>
</div>

    <footer>@@include('./layout/footer.html')</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <script>
        Vue.createApp({
           data(){
               return{
                    data:[],
                    order:[],
                    car:[],
                    gold:[],
                    commodity:[],
                    page:0,
                    article:1,
                    rule:true,
                    precautions:false,
                    pickUp:false,
                    comment:false,
                    number:0,
                    sel:"",
                    index:0,
                    money:0,
                    totalPrice:0,
                    box:0,
                    calculate:'',
                    total:[],
                    detect:0,
                    calculate:[],
                    checkBox:[],
                    checked:false,
                    box:0,

                //   =============================  
                secondGun:[

{
"id":7,
"itemName": "按摩槍",
"img":"./images/Fujitek .png",
"imgTop":"./images/Fujitek 1.png",
"imgBody":"./images/Fujitek 2.png",
"name":"感應式隨行筋膜槍",
"origin":"台灣",
"num":0,
"price":1999,
"logo":"Erugam",
"date":11/15,
"checkout":"貨到付款/線上支付/",
"warranty":"1年",
"product1":"4檔力道/4款更換頭",
"product2":"USB快速充電",
"product3":"智慧控制按摩力道",

"specification":{

            "name":"感應式隨行筋膜槍",
            "brand":"其他",
            "type":"按摩槍",
            "color":"草莓牛奶",
            "size":"W65xH65xD65mm",
            "origin":"台灣"
    },
"feature":{
    "one":" 無線5V",
    "two":"  8MM深層筋膜震感 ",
    "three":" 710克輕巧機身",
    "four":" USB充",
    "five":"日本設計，台灣製造",
    "six":"2400mAh內置電池",
    "seven":"直擊痛點促進血液循環"
    }


},
{
"id":8,
"itemName": "按摩槍",
"img":"./images/Hyperice.png",
"imgTop":"./images/Hyperice1.png",
"name":"無線震動按摩槍",
"origin":"美國",
"num":0,
"price":1550,
"logo":"Hyperice",
"date":11/15,
"checkout":"貨到付款/線上支付/",
"warranty":"1年",
"product1":"採用專利靜音科技",
"product2":"搭載壓力感測技術",
"product3":"五段速控制",

"specification":{

            "name":"無線震動按摩槍",
            "brand":"其他",
            "type":"按摩棒/按摩器",
            "color":"青綠色",
            "size":"112 x 49 x 159mm",
            "origin":"美國"
    },
"feature":{
    "one":" 3無線110V",
    "two":"  電池類型：18650 ",
    "three":" 710克輕巧機身",
    "four":" 電池容量：1,800 mAh",
    "five":"3000轉高速捶打",
    "six":"每天按摩8分鐘, 可續航23天",
    "seven":"運作低噪，不吵鄰"
    }


},

],
                obj:{

                gun:[
                {
                "id":1,
                "itemName": "按摩槍",
                "img":"./images/japan.png",
                "imgTop":"./images/activity.png",
                "imgBody":"./images/pinkhun.png",
                "name":"無線震動按摩槍",
                "origin":"美國",
                "num":0,
                "price":1250,
                "logo":"Full",
                "date":11/15,
                "checkout":"貨到付款/線上支付/",
                "warranty":"1年",
                "product1":"六段按摩強度調整功能",
                "product2":"四種按摩頭",
                "product3":"USB充電",

                "specification":{

                        "name":"無線震動按摩槍",
                        "brand":"其他",
                        "type":"按摩棒/按摩器",
                        "color":"青綠色",
                        "size":"(寬)168x (深)65x (高)235 mm",
                        "origin":"美國"
                },
                "feature":{
                "one":" 38段檔位調節，男女老少都試用",
                "two":"  8MM深層筋膜震感 ",
                "three":" 710克輕巧機身",
                "four":" USB充",
                "five":"3000轉高速捶打",
                "six":"2400mAh內置電池",
                "seven":"運作低噪，不吵鄰"
                }


                },
                {
                "id":2,
                "itemName": "按摩槍",
                "img":"./images/fire.png",
                "imgTop":null,
                "imgBody":null,
                "name":"火星計畫",
                "origin":"日本",
                "num":0,
                "price":1910,
                "logo":"Full",
                "date":3/21,
                "checkout":"貨到付款/線上支付/",
                "warranty":"2年",
                "product1":"市場同級最輕，9mm迷你",
                "product2":"350g輕盈隨行，收納好輕巧",
                "product3":"防手震專利，防震結構再升級",

                "specification":{

                        "name":"火星計畫",
                        "brand":"其他",
                        "type":"按摩棒/按摩器",
                        "color":"暗黑色",
                        "size":"(寬)178x (深)61x (高)225 mm",
                        "origin":"日本"
                },
                "feature":{
                "one":" 36段檔位調節，男女老少都試用",
                "two":"  8MM深層筋膜震感 ",
                "three":" 710克輕巧機身",
                "four":" USB充",
                "five":"3000轉高速捶打",
                "six":"2400mAh內置電池",
                "seven":"運作低噪，不吵鄰"
                }


                },
                {
                "id":3,
                "itemName": "按摩槍",
                "img":"./images/usb.png",
                "imgTop":"./images/usb2.png",
                "imgBody":"./images/usb3.png",
                "name":"NEX Pro便攜型",
                "origin":"中國",
                "num":0,
                "price":1310,
                "logo":"Full",
                "date":4/1,
                "checkout":"貨到付款/線上支付/",
                "warranty":"2年",
                "product1":"重量僅550G，隨身攜帶好方便",
                "product2":"100% 金屬高密度塑料製成",
                "product3":"航空級鋁材雙軸，降低手震",

                "specification":{

                        "name":"NEX Pro便攜型",
                        "brand":"其他",
                        "type":"按摩棒/按摩器",
                        "color":"紅黑色",
                        "size":"16.5X9.1X4.8cm",
                        "origin":"中國"
                },
                "feature":{
                "one":" 材質:鋁合金, 不銹鋼, 玻璃纖維,",
                "two":"  充電時間:６小時 ",
                "three":" 最高轉速:3500ppm(Max)",
                "four":" USB充",
                "five":"3000轉高速捶打",
                "six":"2400mAh內置電池",
                "seven":"運作低噪，不吵鄰"
                }

                },
                {
                "id":4,
                "itemName": "按摩槍",
                "img":"./images/mini.png",
                "imgTop":"./images/mini1.png",
                "imgBody":"./images/mini2.png",
                "name":"玩美小摩",
                "origin":"澳洲",
                "num":0,
                "price":1910,
                "logo":"Full",
                "date":7/15,
                "checkout":"貨到付款/線上支付/",
                "warranty":"2年",
                "product1":"4款可替換按摩頭",
                "product2":"無碳刷馬達減震設計",
                "product3":"500g零負擔",

                "specification":{

                        "name":"玩美小摩",
                        "brand":"其他",
                        "type":"按摩棒/按摩器",
                        "color":"時尚粉",
                        "size":"尺寸：長155x寬88x高45(mm)",
                        "origin":"澳洲"
                },
                "feature":{
                "one":" 型號：TS-136",
                "two":"  輸入電壓：DC5V 2A",
                "three":" 710克輕巧機身",
                "four":" 額定功率：20W",
                "five":"3000轉高速捶打",
                "six":"2400mAh內置電池",
                "seven":"運作低噪，不吵鄰"
                }


                },
                {
                "id":5,
                "itemName": "按摩槍",
                "img":"./images/knock.png",
                "imgTop":"./images/knock1.png",
                "name":"敲敲小摩",
                "origin":"日本",
                "num":0,
                "price":1910,
                "logo":"Full",
                "date":2/5,
                "checkout":"貨到付款/線上支付/",
                "warranty":"2年",
                "product1":"MIT台灣研發設計、製造。",
                "product2":"採用日系高品質電芯",
                "product3":"470g 輕量小巧的體積",

                "specification":{

                        "name":"敲敲小摩",
                        "brand":"其他",
                        "type":"按摩棒/按摩器",
                        "color":"夕陽粉",
                        "size":"90.7 x 47 x 146.2 mm",
                        "origin":"日本"
                },
                "feature":{
                "one":" 四段震動檔數，每分鐘轉速 1600 / 2100 / 2700 / 3200 rpm",
                "two":"  電池容量2900mAh ",
                "three":" 710克輕巧機身",
                "four":" USB充",
                "five":"工業級PC / ABS",
                "six":"2400mAh內置電池"

                }


                },
                {
                "id":6,
                "itemName": "按摩槍",
                "img":"./images/rose.png",
                "imgTop":"./images/rose1.png",
                "imgBody":"./images/rose2.png",
                "name":"迷你震動按摩槍",
                "origin":"德國",
                "num":0,
                "price":1800,
                "logo":"Full",
                "date":12/25,
                "checkout":"貨到付款/線上支付/",
                "warranty":"2年",
                "product1":"無刷強磁馬達",
                "product2":"四種按摩頭",
                "product3":"九段震動調速",

                "specification":{

                        "name":"迷你震動按摩槍",
                        "brand":"其他",
                        "type":"按摩棒/按摩器",
                        "color":"玫瑰紅",
                        "size":"(寬)178x (深)61x (高)225 mm",
                        "origin":"德國"
                },
                "feature":{
                "one":" 無刷強磁馬達",
                "two":"  無刷馬達 ",
                "three":" 680克輕巧機身",
                "four":" 九段震動調速",
                "five":"輸入電壓/電流：DC 5V/2A(Max)",
                "six":"2400mAh內置電池",
                "seven":"運作低噪，不吵鄰"
                }


                }
                ],  


                equipment:[
                {
                "id":9,
                "itemName": "按摩滾筒",
                "img":"./images/33cm.png",
                "imgTop":"./images/33cm01.png",
                "name":"33cm運動滾輪",
                "origin":"美國",
                "num":0,
                "price":150,
                "logo":"QMAT",
                "date":8/15,
                "checkout":"貨到付款/線上支付/",
                "warranty":"2年",
                "product1":"腿部乳酸堆積舒緩，拒絕蘿蔔腿",
                "product2":"運動後緩解肌肉痠痛，深層按摩",
                "product3":"需長期久站工作者改善靜脈曲張",

                "specification":{

                        "name":"33cm運動滾輪",
                        "brand":"其他",
                        "type":"按摩滾筒",
                        "color":"粉紫銀河",
                        "size":"直徑13cmx33cm",
                        "origin":"日本"
                },
                "feature":{
                "one":"不可曝曬, 不可用清潔劑清洗",
                "two":" 抗汗、不易凹陷回復性佳、使用壽命久 ",
                "three":" 約600g(±5g)",
                "four":" 表面硬度40-45度，內部硬度60 shore c",
                "five":"3000轉高速捶打",

                },
                },
                {

                "id":10,
                "itemName":"按摩滾筒",
                "img":"./images/Eco.png",
                "imgTop":"./images/Eco1.png",
                "name":"環保EVA空心瑜珈柱",
                "origin":"美國",
                "num":0,
                "price":120,
                "logo":"Full",
                "date":2/15,
                "checkout":"貨到付款/線上支付/",
                "warranty":"3年",
                "product1":"3D立體結構模擬手感按壓",
                "product2":"預防運動損傷 促進血液循環",
                "product3":"舒緩肌肉酸痛疲 勞增進肌肉彈性",

                "specification":{

                        "name":"環保EVA空心瑜珈柱",
                        "brand":"其他",
                        "type":"按摩滾筒",
                        "color":"藍色",
                        "size":"直徑14cm*高33cm",
                        "origin":"美國"
                },
                "feature":{
                "one":" 優質EVA",
                "two":"  環保ABS ",
                "three":" 877g",
                "four":" 採手工測量，如有1~2cm誤差，皆屬正常範圍",
                "five":"3000轉高速捶打",
                "six":"可承重量：100kg內",
                }

                },
                {

                "id":11,
                "itemName": "按摩滾筒",
                "img":"./images/funsport.png",
                "imgTop":"./images/funsport1.png",
                "imgBody":"./images/funsport2.png",
                "name":"艾羅力筋膜按摩滾筒",
                "origin":"西班牙",
                "num":0,
                "price":1250,
                "logo":"Full",
                "date":11/15,
                "checkout":"貨到付款/線上支付/",
                "warranty":"1年",
                "product1":"筋膜放鬆按摩,健身運動配備",
                "product2":"輔助瑜珈伸展,復健伸展運用",
                "product3":"自力深層按摩",

                "specification":{

                        "name":"艾羅力筋膜按摩滾筒",
                        "brand":"其他",
                        "type":"按摩滾筒",
                        "color":"星夜藍",
                        "size":"長45x直徑15cm",
                        "origin":"西班牙"
                },
                "feature":{
                "one":" 硬度-30D",
                "two":"  材質-EVA ",
                "three":" 軟硬度:稍軟",
                "four":" USB充",
                "six":"2400mAh內置電池",
                "seven":"運作低噪，不吵鄰"
                }

                },
                {

                "id":12,
                "itemName": "按摩滾筒",
                "img":"./images/MEJEY.png",
                "name":"實心瑜珈軸",
                "origin":"台灣",
                "num":0,
                "price":250,
                "logo":"Full",
                "date":3/5,
                "checkout":"貨到付款/線上支付/",
                "warranty":"2年",
                "product1":"手感親膚,安心環保",
                "product2":"瑜珈按摩好幫手",
                "product3":"商品使用方式請參考網頁圖示說明",

                "specification":{

                        "name":"實心瑜珈軸",
                        "brand":"其他",
                        "type":"按摩滾筒",
                        "color":"粉灰色",
                        "size":":約44CMX12CM",
                        "origin":"台灣"
                },
                "feature":{
                "one":" MEJEY 按摩瑜珈軸",
                "two":" 升級款!! 實心按摩滾筒,不易變形 ",
                "three":"2種凸點,貼心設計不同體驗",
                "four":" 可用於腰部、腿部、背部、臀部等等,瑜珈按摩好幫手",
                "five":"手感親膚,安心環保",
                }

                },
                ],

                ball:[
                {

                "id":13,
                "itemName": "按摩球",
                "img":"./images/ROAR.png",
                "imgTop":null,
                "name":"天然橡膠按摩球 ",
                "origin":"台灣",
                "num":0,
                "price":50,
                "logo":"INEXTION",
                "date":3/5,
                "checkout":"貨到付款/線上支付/",
                "warranty":"1年",
                "product1":"一組2種不同硬度的設計",
                "product2":"高密度天然橡膠材質",
                "product3":"提供體貼不同身體狀況的按壓強度",

                "specification":{

                        "name":"天然橡膠按摩球 ",
                        "brand":"其他",
                        "type":"按摩球",
                        "color":"粉灰色",
                        "size":":直徑 6.3cm",
                        "origin":"台灣"
                },
                "feature":{
                "one":" 硬度：淺藍 - 50D*1、天灰 - 65D*1",
                "two":" 重量：0.2kg ",
                "three":"材質：天然橡膠",
                "four":" 可用於腰部、腿部、背部、臀部等等,瑜珈按摩好幫手",
                "five":"手感親膚,安心環保",
                }

                },
                {
                "id":14,
                "itemName": "按摩球",
                "img":"./images/WE FIT.png",
                "imgTop":"./images/WE FIT1.png.png",
                "imgBody":"./images/WE FIT2.png.png",
                "name":"多功能筋膜按摩球 ",
                "origin":"美國",
                "num":0,
                "price":50,
                "logo":"INEXTION",
                "date":3/5,
                "checkout":"貨到付款/線上支付/",
                "warranty":"1年",
                "product1":"隨時隨地 舒爽放鬆",
                "product2":"固定底座 按摩更方便",
                "product3":"輕巧便攜",

                "specification":{

                        "name":"多功能筋膜按摩球 ",
                        "brand":"其他",
                        "type":"按摩球",
                        "color":"橘色",
                        "size":":直徑 6.3cm",
                        "origin":"美國"
                },
                "feature":{
                "one":" 輕巧便攜，不佔空間",
                "two":" 重量：1kg ",
                "three":"緩解肌肉痠痛，消除訓練後的疲勞",
                "four":" 可用於腰部、腿部、背部、臀部等等,瑜珈按摩好幫手",
                "five":"產品材質：熱塑性彈性體(TPE)",
                }

                },
                {
                "id":15,
                "itemName": "按摩球",
                "img":"./images/sport.png",
                "imgTop":"./images/sport1.png",
                "imgBody":"./images/sport2.png",
                "name":"康力爾花生球 ",
                "origin":"中國大陸",
                "num":0,
                "price":120,
                "logo":"Fun Sport",
                "date":7/5,
                "checkout":"貨到付款/線上支付/",
                "warranty":"1年",
                "product1":"符合人體工學弧形設計",
                "product2":"天然橡膠微彈性",
                "product3":"專業尺寸硬度",

                "specification":{

                        "name":"康力爾花生球 ",
                        "brand":"其他",
                        "type":"按摩球",
                        "color":"黑黃",
                        "size":":138x66mm／雙球65mm",
                        "origin":"中國大陸"
                },
                "feature":{
                "one":" 5合1新創醒肌按摩功能",
                "two":" 245g／雙球顆100g ",
                "three":"緩解肌肉痠痛，消除訓練後的疲勞",
                "four":" TPR橡膠、不鏽鋼、酒精（球內）",
                "five":"材質:橡膠",
                }

                },


                ]
                }
                                
                                
               }
           },
           methods: {
               commodityInfo(){
                        this.data = this.obj.data
                        this.commodity=this.obj.gun
                        this.gun = this.obj.gun
                        this.equipment = this.obj.equipment
                        this.ball = this.obj.ball

                        this.total = this.total.concat(this.ball,this.equipment,this.secondGun,this.gun)
                        this.total.sort(function(){//把陣列打亂
                            return (0.5-Math.random());
                        });
                        this.calculate=this.car
                        
           
                           
               },
               checkTotal(){
                if(this.checked){
                    this.calculate=[]

                }else{
                    this.calculate=this.car
                   
                }
                        
               },
               checkCar(event){
                    if(this.calculate==""){
                        alert("沒有選取的商品")
                        event.preventDefault()
                    }else{
                        return
                    }
          
                   
               },
           
               drop(){
                for (let i = this.car.length - 1; i >= 0; i--) {
                    a = this.car[i];
                    for (let j = this.calculate.length - 1; j >= 0; j--) {
                        b = this.calculate[j];
                        if (a == b) {
                            this.car.splice(i, 1);
                            this.calculate.splice(j, 1);
                            break;
                        
                        }
                    }
                }
                this.calculate=[]
                this.setCar()
               },

               addCar(id,item){
                
                let count = this.total.findIndex(item=>{
                   return item.id===id
                }) 
                let code = this.car.find(carItem=>carItem.id==id)
                    if(!code){
                    alert("成功加入購物車")
                    item.num=1
                    this.car.push({
                        id:this.total[count].id,
                        img:this.total[count].img,
                        name:this.total[count].name,
                        price:this.total[count].price,
                        num:this.total[count].num,
                        product1:this.total[count].product1,
                        product2:this.total[count].product2,
                        
                        
                    })
             
                    this.calculate = this.car
                  
                }else{
                    alert("購物車內已有相同物品")
                }
                
                this.setCar() 
                        
               },
               reduceCar(id){
              
                let index = this.car.findIndex(item=>item.id===id)
              
                this.car.splice(index,1)
                
                // this.calculate=this.car     
                this.setCar()
           
                },
               addNum(item){
                item.num+=1
                this.setCar()
               },
               reduceNum(item){
                if(item.num>0){
                    item.num-=1
                }
                this.setCar()
               
               },
           
             
           setCar(){
             localStorage.setItem("car",JSON.stringify(this.car))
             localStorage.setItem("price",JSON.stringify(this.totalPrice))
             localStorage.setItem("chose",JSON.stringify(this.calculate))
             
           },
         
      
           carOnline(){
            let buyCar = localStorage.getItem("car");
                if(!buyCar) return;
                this.car = JSON.parse(buyCar)

                let gold = localStorage.getItem("price")
                if(!gold) return;
                this.totalPrice = JSON.parse(gold)

                let choses = localStorage.getItem("chose")
                if(!choses) return
                this.calculate = JSON.parse(choses)
            },
         
            prev(){
                    if(this.index>-12){
                        this.index-=1
                    }   
            },
            next(){
                if(this.index<0){
                    this.index+=1
                }
            },
            select(){
                this.sel=1
            },
            
           },
       
           created() {//mount之前 會先讀到data
               this.carOnline()
              
           },
           computed:{
                buyCar:function(){//不可與陣列同名
                    return JSON.parse(JSON.stringify(this.car))
                },
                // checkList:function(){
                //     return JSON.parse(JSON.stringify(this.calculate))
                // }
              
           },
           watch:{
                buyCar:{
                    handler(newVal,oldVal){

                        this.money="";                        
                        for(let i=0;i<newVal.length;i++){
                            this.money = parseFloat(this.money+newVal[i].price*newVal[i].num)
                        }
                        if(newVal!=""){
                        this.detect+=1
                     
                        }else{
                            this.detect=0
                        }
                    
                       
                    }
                    
                },
            
             
            },
            updated(){//資料有更新會自動呼叫
                this.totalPrice = Math.round(this.box*this.sel)
          
                this.box=""
                    for(let i=0;i<this.calculate.length;i++){
                        this.box = parseFloat(this.box+this.calculate[i].price*this.calculate[i].num)
                    } 
                    this.setCar()     
            },
           
           mounted() {//等app載入之後才會讀取
               this.commodityInfo()
                this.select() 
           },
        }).mount("#app")
       </script>
        
    
</body>
</html>