<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <div id="app">
        <header class="page_header">
            <nav>
                <input type="checkbox" id="check">
                <label for="check">
                    <span class="line1"></span>
                    <span class="line2"></span>
                    <span class="line3"></span>
                </label> 
                <a href="../index.html" class="header_logo"><img src="../images/headerLogo.png" alt=""></a>
                <ul>
                    <li><a href="../aboutUs.html">關於我們</a></li>
                    <li><a href="../reservation.html">預約按摩</a></li>
                    <li><a href="../shopingArea.html">商品專區</a></li>
                    <!-- <a href="../index.html" class="header_logo"><img src="../images/headerLogo.png" alt=""></a> -->
                    <li><a href="../massageschool.html">按摩小學堂</a></li>
                    <li><a href="">常見問題</a></li>
                </ul>
                <div class="header_icon">
                    <span class="header_member"><a href="../memLogin.html" ><img src="../images/headerMember.png" alt=""></a></span>
                    <span class="header_shopping_cart"><a href="../shoppingCart.html"><img src="../images/headerShoppinCart.png" alt=""></a></span>
                </div>  
                
            </nav>
        </header>
    
        <!-- ======================== -->
        <div class="shopping-cart">
            <div class="shopping-title">
                <div class="title-font">購</div>
                <div class="title-font">物</div>
                <div class="title-font">車</div>
            </div>

            <div class="shopping-list col-12">
                <div class="shopping-list-order" v-for="item in car">
                    <input type="checkbox" name="check" @change="check(item)" v-model="calculate">
                    <div class="shopping-list-pic ">
                        <img :src="item.img" alt="">
                    </div>
                    <div class="shopping-list-body">
                        <div class="shopping-list-name">
                            <h5>{{item.name}}</h5>
                            <small>✅{{item.product1}}</small><br>
                            <small>✅{{item.product2}}</small><br>
                         
                        </div>
                 
                        <div class="shopping-list-calculate">
                            <h5>${{item.price}}</h5>
                        </div>
                        <div class="shopping-list-int">
                            <button @click="addNum(item)">+</button ><input style="text-align:center" type="text" :value="item.num" size="1"><button @click="reduceNum(item)">-</button>
                        </div>
                    </div>
                    <div class="shopping-list-btn">
                        <button  class="btnMinimum" style="padding:7px"  @click="reduceCar(item.id)">移出購物車</button>
                    </div>
                </div>
            </div>
            <div class="shopping-line"><small>確認價錢</small></div>
            
         
                <div class="shopping-discount">
                    <h5>選擇優惠券:</h5>
                    <select name="" id="" v-model="sel" @change="change">
                        <option value="1">請選擇</option>
                        <option value="0.85">85折</option>
                        <option value="0.7">7折</option>
                        <option value="0.5">5折</option>
                
                    </select>
                </div>
                <div class="shopping-price">
                    <div class="shopping-box">
                        全選<input type="checkbox" @change="checkAll">
                    </div>
                    <div class="shopping-check">
                    <div class="shopping-checkout">
                        <p>商品金額:{{money}}元 折扣金額:{{money-totalPrice}} </p><p>結帳金額:$<strong>{{totalPrice}}</strong></p>
                    <a href="./Payment.html"><button class="btnLittle">前往結帳</button> </a>
                    </div>
                    
                </div>

            </div>
            
        </div>


        <div class="purchase-area">
            <div class="purchase-area-title">
               <div class="title-font">加</div>
               <div class="title-font">購</div>
               <div class="title-font">區</div>
            </div>
         
            <div class="purchase-area-container">
                <button @click="prev" class="prev"><</button>
                <div class="purchase-area-slide" :style="{left:330*index+'px',
                transition:.5+'s'}">
                  <div class="purchase-area-card " v-for="(item,value) in commodity" :key="item.id">
                        <div class="purchase-area-pic">
                            <img :src="item.img" alt="">
                        </div>
                        <div class="purchase-area-name">
                            <h3>{{item.name}}</h3>
                        </div>
                        <div class="purchase-area-introduce">
                            <div class="purchase-area-cpacity">
                                    <small>{{item.cpacity}}</small>
                                </div>
                                <div class="purchase-area-orign">
                                    <small>{{item.orign}}</small>
                                </div>
                            </div>
                        <div class="purchase-area-price">
                            <p>售價:{{item.price}}</p>
                        </div>
                        <div class="purchase-area-btn ">
                            <button class="btnLittle" @click="addCar(item.id,item)">加入購物車</button>
                        </div>
                    </div>
            <!-- ============================================ -->

           <div class="purchase-area-card " v-for="(item,value) in commodity">
                <div class="purchase-area-pic">
                    <img :src="item.img" alt="">
                </div>
                <div class="purchase-area-name">
                    <h3>{{item.name}}</h3>
                </div>
                <div class="purchase-area-introduce">
                    <div class="purchase-area-cpacity">
                            <small>{{item.cpacity}}</small>
                        </div>
                        <div class="purchase-area-orign">
                            <small>{{item.orign}}</small>
                        </div>
                    </div>
                <div class="purchase-area-price">
                    <p>售價:{{item.price}}</p>
                </div>
            </div> 

                </div>
                <button @click="next" class="next">></button>
            </div>
        </div>
    </div>
       
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>



    <script>
        Vue.createApp({
           data(){
               return{
                    data:[],
                    order:[],
                    car:[],
                    gold:[],
                    commodity:[],
                    page:0,
                    article:1,
                    rule:true,
                    precautions:false,
                    pickUp:false,
                    comment:false,
                    number:0,
                    sel:"",
                    index:0,
                    money:0,
                    totalPrice:0,
                    box:0,
                    calculate:'',
                //   =============================  
                obj:{
               
               gun:[
         {
           "id":1,
           "itemName": "按摩槍",
           "img":"../src/images/carpic/massagegun/japan.png",
           "imgTop":"./carpic/massagegun/activity.png",
           "imgBody":"./carpic/massagegun/pinkhun.png",
           "name":"美式按摩槍",
           "cpacity":"16oz/473ml",
           "origin":"美國",
           "num":0,
           "price":1250,
           "logo":"Full",
           "checkout":"貨到付款/線上支付/",
           "warranty":"1年",
           "product1":"六段按摩強度調整功能",
           "product2":"四種按摩頭",
           "product3":"USB充電",

           "specification":{

                           "name":"日式按摩槍 FG-271",
                           "brand":"其他",
                           "type":"按摩棒/按摩器",
                           "color":"青綠色",
                           "size":"(寬)168x (深)65x (高)235 mm",
                           "origin":"美國"
                   },
           "feature":{
                   "one":" 38段檔位調節，男女老少都試用",
                   "two":"  8MM深層筋膜震感 ",
                   "three":" 710克輕巧機身",
                   "four":" USB充",
                   "five":"3000轉高速捶打",
                   "six":"2400mAh內置電池",
                   "seven":"運作低噪，不吵鄰"
                   }
           
           
         },
         {
           "id":2,
           "itemName": "按摩槍",
           "img":"../src/images/carpic/massagegun/fire.png",
           "imgTop":null,
           "imgBody":null,
           "name":"火星計畫",
           "cpacity":"16oz/473ml",
           "origin":"日本",
           "num":0,
           "price":1910,
           "logo":"Full",
           "checkout":"貨到付款/線上支付/",
           "warranty":"2年",
           "product1":"市場同級最輕，9mm迷你筋膜槍",
           "product2":"350g輕盈隨行，收納包好輕巧",
           "product3":"防手震專利，防震結構再升級",

           "specification":{

                           "name":"火星計畫",
                           "brand":"其他",
                           "type":"按摩棒/按摩器",
                           "color":"暗黑色",
                           "size":"(寬)178x (深)61x (高)225 mm",
                           "origin":"日本"
                   },
           "feature":{
                   "one":" 36段檔位調節，男女老少都試用",
                   "two":"  8MM深層筋膜震感 ",
                   "three":" 710克輕巧機身",
                   "four":" USB充",
                   "five":"3000轉高速捶打",
                   "six":"2400mAh內置電池",
                   "seven":"運作低噪，不吵鄰"
                   }
           
           
         },
         {
           "id":3,
           "itemName": "按摩槍",
           "img":"./carpic/massagegun/usb.png",
           "imgTop":"./carpic/massagegun/usb2.png",
           "imgBody":"./carpic/massagegun/usb3.png",
           "name":"NEX Pro便攜型",
           "cpacity":"16oz/473ml",
           "origin":"中國",
           "num":0,
           "price":1310,
           "logo":"Full",
           "checkout":"貨到付款/線上支付/",
           "warranty":"2年",
           "product1":"重量僅550G，隨身攜帶好方便",
           "product2":"100% 金屬高密度塑料製成",
           "product3":"航空級鋁材雙軸，降低手震",

           "specification":{

                           "name":"NEX Pro便攜型",
                           "brand":"其他",
                           "type":"按摩棒/按摩器",
                           "color":"紅黑色",
                           "size":"16.5X9.1X4.8cm",
                           "origin":"中國"
                   },
           "feature":{
                   "one":" 材質:鋁合金, 不銹鋼, 玻璃纖維,",
                   "two":"  充電時間:６小時 ",
                   "three":" 最高轉速:3500ppm(Max)",
                   "four":" USB充",
                   "five":"3000轉高速捶打",
                   "six":"2400mAh內置電池",
                   "seven":"運作低噪，不吵鄰"
                   }
           
         },
         {
           "id":4,
           "itemName": "按摩槍",
           "img":"./carpic/massagegun/mini.png",
           "imgTop":"./carpic/massagegun/mini1.png",
           "imgBody":"./carpic/massagegun/mini2.png",
           "name":"玩美小摩",
           "cpacity":"16oz/473ml",
           "origin":"澳洲",
           "num":0,
           "price":1910,
           "logo":"Full",
           "checkout":"貨到付款/線上支付/",
           "warranty":"2年",
           "product1":"4款可替換按摩頭",
           "product2":"無碳刷馬達減震設計",
           "product3":"500g零負擔",

           "specification":{

                           "name":"玩美小摩",
                           "brand":"其他",
                           "type":"按摩棒/按摩器",
                           "color":"時尚粉",
                           "size":"尺寸：長155x寬88x高45(mm)",
                           "origin":"澳洲"
                   },
           "feature":{
                   "one":" 型號：TS-136",
                   "two":"  輸入電壓：DC5V 2A",
                   "three":" 710克輕巧機身",
                   "four":" 額定功率：20W",
                   "five":"3000轉高速捶打",
                   "six":"2400mAh內置電池",
                   "seven":"運作低噪，不吵鄰"
                   }
           
           
         },
         {
           "id":5,
           "itemName": "按摩槍",
           "img":"./carpic/massagegun/knock.png",
           "imgTop":"./carpic/massagegun/knock1.png",
           "name":"敲敲小摩",
           "cpacity":"16oz/473ml",
           "origin":"日本",
           "num":0,
           "price":1910,
           "logo":"Full",
           "checkout":"貨到付款/線上支付/",
           "warranty":"2年",
           "product1":"MIT台灣研發設計、製造。",
           "product2":"採用日系高品質電芯",
           "product3":"470g 輕量小巧的體積",

           "specification":{

                           "name":"敲敲小摩",
                           "brand":"其他",
                           "type":"按摩棒/按摩器",
                           "color":"夕陽粉",
                           "size":"90.7 x 47 x 146.2 mm",
                           "origin":"日本"
                   },
           "feature":{
                   "one":" 四段震動檔數，每分鐘轉速 1600 / 2100 / 2700 / 3200 rpm",
                   "two":"  電池容量2900mAh ",
                   "three":" 710克輕巧機身",
                   "four":" USB充",
                   "five":"工業級PC / ABS",
                   "six":"2400mAh內置電池"
                
                   }
           
           
         },
         {
           "id":6,
           "itemName": "按摩槍",
           "img":"./carpic/massagegun/rose.png",
           "imgTop":"./carpic/massagegun/rose1.png",
           "imgBody":"./carpic/massagegun/rose2.png",
           "name":"迷你震動按摩槍",
           "cpacity":"16oz/473ml",
           "origin":"德國",
           "num":0,
           "price":1800,
           "logo":"Full",
           "checkout":"貨到付款/線上支付/",
           "warranty":"2年",
           "product1":"無刷強磁馬達",
           "product2":"四種按摩頭",
           "product3":"九段震動調速",

           "specification":{

                           "name":"迷你震動按摩槍",
                           "brand":"其他",
                           "type":"按摩棒/按摩器",
                           "color":"玫瑰紅",
                           "size":"(寬)178x (深)61x (高)225 mm",
                           "origin":"德國"
                   },
           "feature":{
                   "one":" 無刷強磁馬達",
                   "two":"  無刷馬達 ",
                   "three":" 680克輕巧機身",
                   "four":" 九段震動調速",
                   "five":"輸入電壓/電流：DC 5V/2A(Max)",
                   "six":"2400mAh內置電池",
                   "seven":"運作低噪，不吵鄰"
                   }
           
           
         }
     ],  
               
               equipment:[
         {
             "itemName": "按摩滾筒",
             "img":"https://picsum.photos/300/200/?random=10",
             "name":"滾筒",
             "cpacity":"16oz/473ml",
             "origin":"澳洲",
             "price":200
         },
         {
           "itemName": "按摩滾筒",
             "img":"https://picsum.photos/300/200/?random=11",
             "name":"滾筒",
             "cpacity":"16oz/473ml",
             "origin":"澳洲",
             "price":200
         },
         {
           "itemName": "按摩滾筒",
             "img":"https://picsum.photos/300/200/?random=12",
             "name":"滾筒",
             "cpacity":"16oz/473ml",
             "origin":"澳洲",
             "price":200
         },
         {
           "itemName": "按摩滾筒",
             "img":"https://picsum.photos/300/200/?random=13",
             "name":"滾筒",
             "cpacity":"16oz/473ml",
             "origin":"澳洲",
             "price":200
         },
         {
           "itemName": "按摩滾筒",
             "img":"https://picsum.photos/300/200/?random=14",
             "name":"滾筒",
             "cpacity":"16oz/473ml",
             "origin":"澳洲",
             "price":200
         },
         {
           "itemName": "按摩滾筒",
             "img":"https://picsum.photos/300/200/?random=15",
             "name":"滾筒",
             "cpacity":"16oz/473ml",
             "origin":"澳洲",
             "price":200
         }
     ],
               
               rose:[
         {
           "itemName": "按摩精油",
           
           "img":"https://picsum.photos/300/200/?random=10",
           "name":"玫瑰 ROSE",
           "cpacity":"16oz/473ml",
           "origin":"中國",
           "price":1200
         },
         {
           "itemName": "按摩精油",
             "img":"https://picsum.photos/300/200/?random=11",
             "name":"玫瑰 ROSE",
             "cpacity":"16oz/473ml",
             "origin":"中國",
             "price":1200
         },
         {
           "itemName": "按摩精油",
             "img":"https://picsum.photos/300/200/?random=12",
             "name":"玫瑰 ROSE",
             "cpacity":"16oz/473ml",
             "origin":"中國",
             "price":1200
         },
         {
           "itemName": "按摩精油",
             "img":"https://picsum.photos/300/200/?random=13",
             "name":"玫瑰 ROSE",
             "cpacity":"16oz/473ml",
             "origin":"中國",
             "price":1200
         },
         {
           "itemName": "按摩精油",
             "img":"https://picsum.photos/300/200/?random=14",
             "name":"玫瑰 ROSE",
             "cpacity":"16oz/473ml",
             "origin":"中國",
             "price":1200
         },
         {
           "itemName": "按摩精油",
             "img":"https://picsum.photos/300/200/?random=15",
             "name":"玫瑰 ROSE",
             "cpacity":"16oz/473ml",
             "origin":"中國",
             "price":1200
         }
     ]
               }
                   
              
               }
           },
           methods: {
               commodityInfo(){
                           this.data = this.obj.data
                           this.commodity=this.obj.gun
                           this.gun = this.obj.gun
                           this.equipment = this.obj.equipment
                           this.oil = this.obj.rose

                           console.log(this.car)
               },
        
               addCar(id,item){
               
                let count = this.commodity.findIndex(item=>{
                   return item.id===id
                }) 
                let code = this.car.find(carItem=>carItem.id==id)
                    if(!code){
                    alert("成功加入購物車")
                    item.num+=1
                    this.car.push({
                        id:this.commodity[count].id,
                        img:this.commodity[count].img,
                        name:this.commodity[count].name,
                        price:this.commodity[count].price,
                        num:this.commodity[count].num,
                        product1:this.commodity[count].product1,
                        product2:this.commodity[count].product2,
                        
                        
                    })

                }else{
                    alert("購物車內已有相同物品")
                }
                this.totalPrice = this.discount
   
               
                this.setCar() 
             
                           
               },
               reduceCar(id){
              
                let index = this.car.findIndex(item=>item.id===id)
               
                this.car.splice(index,1)
                        
                this.setCar()
           
                },
               addNum(item){
                item.num+=1
                this.setCar()
               },
               reduceNum(item){
                if(item.num>0){
                    item.num-=1
                }
                this.setCar()
               
               },
               check(item){

               },
              checkAll(){
                this.calculate=!this.calculate
              },
            
          
           setCar(){
             localStorage.setItem("car",JSON.stringify(this.car))
             localStorage.setItem("price",JSON.stringify(this.totalPrice))
             
           },
         
      
           carOnline(){
            let buyCar = localStorage.getItem("car");
                if(!buyCar) return;
                this.car = JSON.parse(buyCar)

                let gold = localStorage.getItem("price")
                if(!gold) return;
                this.totalPrice = JSON.parse(gold)
            },
         
            prev(){
                    if(this.index>-8){
                        this.index-=1
                    }   
            },
            next(){
                if(this.index<0){
                    this.index+=1
                }
             
            },
            select(){
                this.sel=1
            },
            // set(){
            //     this.$set(car,1,{});
            // },
             
           },
       
           created() {//mount之前 會先讀到data
               this.carOnline()
              
           
           },
           computed:{
                buyCar:function(){//不可與陣列同名
                    return JSON.parse(JSON.stringify(this.car))
                },
           },
           watch:{
                buyCar:{
                    handler(newVal,oldVal){

                        this.money="";                        
                        for(let i=0;i<newVal.length;i++){
                            this.money = parseFloat(this.money+newVal[i].price*newVal[i].num)
                          
                        }   
                    
                       
                    }
                    
                },
             
            },
            updated(){//資料有更新會自動呼叫
                 this.totalPrice = this.money*this.sel
                this.setCar()
            },
           
           mounted() {//等app載入之後才會讀取
               this.commodityInfo()
                this.select()
                
           },
        }).mount("#app")
       </script>
        
    
</body>
</html>