<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
   
<div id="app">
    <header class="page_header">
        <nav>
            <input type="checkbox" id="check">
            <label for="check">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </label> 
            <a href="../index.html" class="header_logo"><img src="../images/headerLogo.png" alt=""></a>
            <ul>
                <li><a href="../aboutUs.html">關於我們</a></li>
                <li><a href="../reservation.html">預約按摩</a></li>
                <li><a href="../shopingArea.html">商品專區</a></li>
                <!-- <a href="../index.html" class="header_logo"><img src="../images/headerLogo.png" alt=""></a> -->
                <li><a href="../massageschool.html">按摩小學堂</a></li>
                <li><a href="">常見問題</a></li>
            </ul>
            <div class="header_icon">
                <span class="header_member"><a href="../memLogin.html" ><img src="../images/headerMember.png" alt=""></a></span>
                <span class="header_shopping_cart"><a href="../shoppingCart.html"><img src="../images/headerShoppinCart.png" alt=""></a></span>
            </div>  
            
        </nav>
    </header>

    <!-- ========================= -->
    
    <div class="commodity-container">
        <div class="page-path">
            <div class="commodity-title">
               <div class="title-font">嚴</div>
               <div class="title-font">選</div>
               <div class="title-font">商</div>
               <div class="title-font">品</div>
            </div>
            <div class="bread">
                <small>首頁>商品專區>嚴選產品</small>
            </div>  
        </div>

        <div class="commodity-search">
            <div class="commodity-filter">
                <select name="" id="">
                    <option value="">由新到舊</option>
                    <option value="">價錢由高至低</option>
                </select>
            </div>
            <div class="commodity-enter">
                <input type="text">
            </div>
            <div class="commodity-keywords">
                <p class="words">玫瑰</p>
                <p class="words">薄荷</p>
                <p class="words">筋膜槍</p>
                <p class="words">按摩槍</p>
                <p class="words">精油</p>
            </div>
        </div>
    </div>
   

    <div class="area-list">
        <div class="row">
            <div class="area-order">
                <div class="area-order-title">
                    <h2>嚴選商品</h2>
                </div>
                <ul>
                    <li v-for="(product,key) in obj" @click="showOil(key)">
                        <span style="font-size: 23px;font-weight: 800;">{{product[0].itemName}}</span>
                        <span class="triangle">{{text}}</span>                          

                        <ul :class="{oilList:openPage1}">
                            <li>玫瑰ROSE</li>
                            <li>薰衣草 Lavender</li>
                            <li>薄荷 Peppermint</li>
                        </ul>    
                    </li>
                </ul>
            </div>
    
            <div class="wrap">
        

                <a href="./productdetails.html">
                    <div class="area-box" v-if="currentPage==1" :class="{block:currentPage==1}" >

                 
                        <div class="col-3  area-card" v-for="(item,key) in commodity" @click="addOrder(item.id)" :key="item.id" >
                      
                            <div class="area-pic">
                                <img :src="item.img">
                            </div>
                            <div class="area-name bold">
                                <h5>{{item.name}}</h5>
                            </div>
                            <div class="area-introduce">
                                <div class="area-oritem">
                                    <small class="area-capacity">{{item.cpacity}}</small>
                                    <small class="area-origin">產地：{{item.origin}}</small>
                            
                                </div>
                                <div class="area-price">
                                    <p>售價:{{item.price}}元</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
               
            
     
             

                <div class="area-box" v-if="show=currentPage=='2'" 
                :class="{block:currentPage==2}">
                    <div class="col-3  area-card" v-for="(item,value) in info">
                        <div class="area-pic">
                            <img :src="item.img">
                        </div>
                        <div class="area-name">
                            <h3>{{item.name}}</h3>
                        </div>
                        <div class="area-introduce">
                            <div class="area-oritem">
                                <small class="area-capacity">{{item.cpacity}}</small>
                                <small class="area-origin">產地：{{item.origin}}</small>
                        
                            </div>
                            <div class="area-price">
                                <p>售價:{{item.price}}元</p>
                            </div>
                           
                        </div>
                    </div>
                 
                </div>
<!-- ========================================================== -->
                <div class="area-box" v-if="show=currentPage=='3'" :class="{block:currentPage==3}">
                    <div class="col-3  area-card" v-for="(item,value) in rose">
                        <div class="area-pic">
                            <img :src="item.img">
                        </div>
                        <div class="area-name">
                            <h3>{{item.name}}</h3>
                        </div>
                        <div class="area-introduce">
                            <div class="area-oritem">
                                <small class="area-capacity">{{item.cpacity}}</small>
                                <small class="area-origin">產地：{{item.origin}}</small>
                        
                            </div>
                            <div class="area-price">
                                <p>售價:{{item.price}}元</p>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="page-number-computer">
                    <button  class="btnLittle"  @click="pageReduce"><</button>
                    <span style="  letter-spacing: 2px;" v-for="i in 3" :class="{fontcolor:i==currentPage}" @click="chose(i)">{{i}}</span>
                    <button class="btnLittle"  @click="pageAdd()">></button>
                </div>
            </div> 
        </div>
    </div>            
</div>
   
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <script>
   




     Vue.createApp({
        data(){
            return{
                data:[],
                info:[],
                rose:[],
                order:[],
                car:[],
                gun:[],
                commodity:[],
                index:1,
                count:0,
                text:"+",
                text2:"+",
                openPage1:true,
                openPage2:true,
                currentPage:1,

                //=======================
                obj:{
               
                gun:[
          {
            "id":1,
            "itemName": "按摩槍",
            "img":"./carpic/massagegun/japan.png",
            "imgTop":"./carpic/massagegun/activity.png",
            "imgBody":"./carpic/massagegun/pinkhun.png",
            "name":"美式按摩槍",
            "cpacity":"16oz/473ml",
            "origin":"美國",
            "num":0,
            "price":1250,
            "logo":"Full",
            "checkout":"貨到付款/線上支付/",
            "warranty":"1年",
            "product1":"六段按摩強度調整功能",
            "product2":"四種按摩頭",
            "product3":"USB充電",

            "specification":{

                            "name":"日式按摩槍 FG-271",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"青綠色",
                            "size":"(寬)168x (深)65x (高)235 mm",
                            "origin":"美國"
                    },
            "feature":{
                    "one":" 38段檔位調節，男女老少都試用",
                    "two":"  8MM深層筋膜震感 ",
                    "three":" 710克輕巧機身",
                    "four":" USB充",
                    "five":"3000轉高速捶打",
                    "six":"2400mAh內置電池",
                    "seven":"運作低噪，不吵鄰"
                    }
            
            
          },
          {
            "id":2,
            "itemName": "按摩槍",
            "img":"./carpic/massagegun/fire.png",
            "imgTop":null,
            "imgBody":null,
            "name":"火星計畫",
            "cpacity":"16oz/473ml",
            "origin":"日本",
            "num":0,
            "price":1910,
            "logo":"Full",
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"市場同級最輕，9mm迷你筋膜槍",
            "product2":"350g輕盈隨行，收納包好輕巧",
            "product3":"防手震專利，防震結構再升級",

            "specification":{

                            "name":"火星計畫",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"暗黑色",
                            "size":"(寬)178x (深)61x (高)225 mm",
                            "origin":"日本"
                    },
            "feature":{
                    "one":" 36段檔位調節，男女老少都試用",
                    "two":"  8MM深層筋膜震感 ",
                    "three":" 710克輕巧機身",
                    "four":" USB充",
                    "five":"3000轉高速捶打",
                    "six":"2400mAh內置電池",
                    "seven":"運作低噪，不吵鄰"
                    }
            
            
          },
          {
            "id":3,
            "itemName": "按摩槍",
            "img":"./carpic/massagegun/usb.png",
            "imgTop":"./carpic/massagegun/usb2.png",
            "imgBody":"./carpic/massagegun/usb3.png",
            "name":"NEX Pro便攜型",
            "cpacity":"16oz/473ml",
            "origin":"中國",
            "num":0,
            "price":1310,
            "logo":"Full",
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"重量僅550G，隨身攜帶好方便",
            "product2":"100% 金屬高密度塑料製成",
            "product3":"航空級鋁材雙軸，降低手震",

            "specification":{

                            "name":"NEX Pro便攜型",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"紅黑色",
                            "size":"16.5X9.1X4.8cm",
                            "origin":"中國"
                    },
            "feature":{
                    "one":" 材質:鋁合金, 不銹鋼, 玻璃纖維,",
                    "two":"  充電時間:６小時 ",
                    "three":" 最高轉速:3500ppm(Max)",
                    "four":" USB充",
                    "five":"3000轉高速捶打",
                    "six":"2400mAh內置電池",
                    "seven":"運作低噪，不吵鄰"
                    }
            
          },
          {
            "id":4,
            "itemName": "按摩槍",
            "img":"./carpic/massagegun/mini.png",
            "imgTop":"./carpic/massagegun/mini1.png",
            "imgBody":"./carpic/massagegun/mini2.png",
            "name":"玩美小摩",
            "cpacity":"16oz/473ml",
            "origin":"澳洲",
            "num":0,
            "price":1910,
            "logo":"Full",
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"4款可替換按摩頭",
            "product2":"無碳刷馬達減震設計",
            "product3":"500g零負擔",

            "specification":{

                            "name":"玩美小摩",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"時尚粉",
                            "size":"尺寸：長155x寬88x高45(mm)",
                            "origin":"澳洲"
                    },
            "feature":{
                    "one":" 型號：TS-136",
                    "two":"  輸入電壓：DC5V 2A",
                    "three":" 710克輕巧機身",
                    "four":" 額定功率：20W",
                    "five":"3000轉高速捶打",
                    "six":"2400mAh內置電池",
                    "seven":"運作低噪，不吵鄰"
                    }
            
            
          },
          {
            "id":5,
            "itemName": "按摩槍",
            "img":"./carpic/massagegun/knock.png",
            "imgTop":"./carpic/massagegun/knock1.png",
            "name":"敲敲小摩",
            "cpacity":"16oz/473ml",
            "origin":"日本",
            "num":0,
            "price":1910,
            "logo":"Full",
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"MIT台灣研發設計、製造。",
            "product2":"採用日系高品質電芯",
            "product3":"470g 輕量小巧的體積",

            "specification":{

                            "name":"敲敲小摩",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"夕陽粉",
                            "size":"90.7 x 47 x 146.2 mm",
                            "origin":"日本"
                    },
            "feature":{
                    "one":" 四段震動檔數，每分鐘轉速 1600 / 2100 / 2700 / 3200 rpm",
                    "two":"  電池容量2900mAh ",
                    "three":" 710克輕巧機身",
                    "four":" USB充",
                    "five":"工業級PC / ABS",
                    "six":"2400mAh內置電池"
                 
                    }
            
            
          },
          {
            "id":6,
            "itemName": "按摩槍",
            "img":"./carpic/massagegun/rose.png",
            "imgTop":"./carpic/massagegun/rose1.png",
            "imgBody":"./carpic/massagegun/rose2.png",
            "name":"迷你震動按摩槍",
            "cpacity":"16oz/473ml",
            "origin":"德國",
            "num":0,
            "price":1800,
            "logo":"Full",
            "checkout":"貨到付款/線上支付/",
            "warranty":"2年",
            "product1":"無刷強磁馬達",
            "product2":"四種按摩頭",
            "product3":"九段震動調速",

            "specification":{

                            "name":"迷你震動按摩槍",
                            "brand":"其他",
                            "type":"按摩棒/按摩器",
                            "color":"玫瑰紅",
                            "size":"(寬)178x (深)61x (高)225 mm",
                            "origin":"德國"
                    },
            "feature":{
                    "one":" 無刷強磁馬達",
                    "two":"  無刷馬達 ",
                    "three":" 680克輕巧機身",
                    "four":" 九段震動調速",
                    "five":"輸入電壓/電流：DC 5V/2A(Max)",
                    "six":"2400mAh內置電池",
                    "seven":"運作低噪，不吵鄰"
                    }
            
            
          }
      ],  
                
                equipment:[
          {
              "itemName": "按摩滾筒",
              "img":"https://picsum.photos/300/200/?random=10",
              "name":"滾筒",
              "cpacity":"16oz/473ml",
              "origin":"澳洲",
              "price":200
          },
          {
            "itemName": "按摩滾筒",
              "img":"https://picsum.photos/300/200/?random=11",
              "name":"滾筒",
              "cpacity":"16oz/473ml",
              "origin":"澳洲",
              "price":200
          },
          {
            "itemName": "按摩滾筒",
              "img":"https://picsum.photos/300/200/?random=12",
              "name":"滾筒",
              "cpacity":"16oz/473ml",
              "origin":"澳洲",
              "price":200
          },
          {
            "itemName": "按摩滾筒",
              "img":"https://picsum.photos/300/200/?random=13",
              "name":"滾筒",
              "cpacity":"16oz/473ml",
              "origin":"澳洲",
              "price":200
          },
          {
            "itemName": "按摩滾筒",
              "img":"https://picsum.photos/300/200/?random=14",
              "name":"滾筒",
              "cpacity":"16oz/473ml",
              "origin":"澳洲",
              "price":200
          },
          {
            "itemName": "按摩滾筒",
              "img":"https://picsum.photos/300/200/?random=15",
              "name":"滾筒",
              "cpacity":"16oz/473ml",
              "origin":"澳洲",
              "price":200
          }
      ],
                
                rose:[
          {
            "itemName": "按摩精油",
            
            "img":"https://picsum.photos/300/200/?random=10",
            "name":"玫瑰 ROSE",
            "cpacity":"16oz/473ml",
            "origin":"中國",
            "price":1200
          },
          {
            "itemName": "按摩精油",
              "img":"https://picsum.photos/300/200/?random=11",
              "name":"玫瑰 ROSE",
              "cpacity":"16oz/473ml",
              "origin":"中國",
              "price":1200
          },
          {
            "itemName": "按摩精油",
              "img":"https://picsum.photos/300/200/?random=12",
              "name":"玫瑰 ROSE",
              "cpacity":"16oz/473ml",
              "origin":"中國",
              "price":1200
          },
          {
            "itemName": "按摩精油",
              "img":"https://picsum.photos/300/200/?random=13",
              "name":"玫瑰 ROSE",
              "cpacity":"16oz/473ml",
              "origin":"中國",
              "price":1200
          },
          {
            "itemName": "按摩精油",
              "img":"https://picsum.photos/300/200/?random=14",
              "name":"玫瑰 ROSE",
              "cpacity":"16oz/473ml",
              "origin":"中國",
              "price":1200
          },
          {
            "itemName": "按摩精油",
              "img":"https://picsum.photos/300/200/?random=15",
              "name":"玫瑰 ROSE",
              "cpacity":"16oz/473ml",
              "origin":"中國",
              "price":1200
          }
      ]
                }

        }
        },
        methods: {
            commodityInfo(){
             
                console.log(this.obj)
                           
                    this.data = this.obj.data

                    this.commodity=this.obj.gun
                    this.gun = this.obj.gun
                    this.equipment = this.obj.equipment
                    this.oil = this.obj.rose
                
           
           
            },
            showOil(key){
                if(key=="gun"){
                    this.commodity=this.gun
                }else if(key=="equipment"){
                    this.commodity=this.equipment
                }else{
                    this.commodity=this.oil
                }

            },
            showAppliance(){
                this.openPage2 = !this.openPage2
                if(!this.openPage2){
                    this.text2="-";
                }else{
                    this.text2="+";
                }
            },
            chose(i){
                this.currentPage=i
            },
            pageReduce(){
                if(this.currentPage>1){
                    this.currentPage-=1;
                }   
            },
            pageAdd(){
              
                if(this.currentPage<3){
                    this.currentPage+=1;
                }
            },
            addOrder(id){
             let index = this.commodity.findIndex(item=>item.id==id)
          
                this.order.push({
                    id:this.commodity[index].id,
                    img:this.commodity[index].img,
                    imgTop:this.commodity[index].imgTop,
                    imgBody:this.commodity[index].imgBody,
                    name:this.commodity[index].name,
                    price:this.commodity[index].price,
                    num:this.commodity[index].num,
                    logo:this.commodity[index].logo,
                    product1:this.commodity[index].product1,
                    product2:this.commodity[index].product2,
                    product3:this.commodity[index].product3,
                    specification:this.commodity[index].specification,
                    feature:this.commodity[index].feature

                })

                
               
                this.storage()
            },
            clear(){
                let index = this.data.findIndex(item=>item.id==id)
                this.order.splice(index,1)
                console.log(this.order)
                localStorage.clear("order")
            },
            storage(){
                localStorage.setItem("order",JSON.stringify(this.order))
            },
            online(){
                let orderList = localStorage.getItem("order");
                if(!orderList) return;
                this.order = JSON.parse(orderList);
            },
        
            carOnline(){
            let buyCar = localStorage.getItem("car");
                if(!buyCar) return;
                this.car = JSON.parse(buyCar)
            },
          
          
        },
        created() {
            this.clear()
            this.online()
            this.carOnline()
           
        },
        computed:{
           
        },
        
        mounted() {
            this.commodityInfo()
          
        
        },
     }).mount("#app")

    
    </script>

    
</body>
</html>