<header class="page_header">
    <nav class="menu">
        <li><a href="">關於我們</a></li>
        <li><a href="">預約按摩</a></li>
        <li><a href="">商品專區</a></li>
        <li><a href="../index.html" class="header_logo"><img src="../images/headerLogo.png" alt=""></a></li>
        <li><a href="">按摩小學堂</a></li>
        <li><a href="">常見問題</a></li>
        <li><a href="" class="header_member"><img src="../images/headerMember.png" alt=""></a></li>
        <li><a href="" class="header_shopping_cart"><img src="../images/headerShoppinCart.png" alt=""></a></li>
    </nav>
</header>

<h3>按摩小學堂</h3>