<header class="page_header">
    <ul class="menu">
        <li><a href="../aboutUs.html">關於我們</a></li>
        <li><a href="../reservation.html">預約按摩</a></li>
        <li><a href="../shopingArea.html">商品專區</a></li>
        <li class="header_logo"><a href="../index.html"><img src="../images/headerLogo.png" alt=""></a></li>
        <li><a href="../massageschool.html">按摩小學堂</a></li>
        <li><a href="">常見問題</a></li>
        <li class="header_member"><a href="../memLogin.html" ><img src="../images/headerMember.png" alt=""></a></li>
        <li class="header_shopping_cart"><a href="../shoppingCart.html"><img src="../images/headerShoppinCart.png" alt=""></a></li>
    </ul>
</header>